

      .container {
        display: flex;
        flex-direction: column;
        justify-content: start;
        width: 100%;
        height: calc(100vh - 67px);
        overflow-y: auto;
      }
      .container::-webkit-scrollbar {
        width: 0;
      }
      .aside{
        width: 100%;
      }
      .facebook__link{
        display: none;
      }

      .main {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(2, auto);
        grid-column-gap: 15px;
        grid-row-gap: 15px;
        height: auto;
        min-width: 330px;
        width: 100%;
        white-space: nowrap;
        margin-bottom: 60px;
      }
      .main__title{
        font-family: "DrukCyr-Bold";
        font-size: 150px;
        font-style: normal;
        font-weight: 700;
        line-height: 80%; /* 120px */
        letter-spacing: -3px;
        text-transform: uppercase;
        grid-area: 1 / 1 / 2 / 7;
        
      }
      .main__num{
        font-family: "DrukCyr-Bold";
        font-size: 150px;
        font-style: normal;
        font-weight: 700;
        line-height: 80%; /* 120px */
        letter-spacing: -3px;
        text-transform: uppercase;
        grid-area: 2 / 3 / 3 / 7;
        
      }
      .main__title,
      .main__num {
        display: inline-block;
        margin-right: 50px; /* Adjust this value to control the spacing between elements */
        animation: slide linear infinite;
        animation-duration: 15s; /* Adjust this value to control the animation speed */
        animation-timing-function: linear;
      }
      .description{
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 60px;
      }
      .contacts{
        display: flex;
        flex-direction: column;
        gap: 15px;
        min-width: 330px;
        width: 100%;
      }
      .contacts__link {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
      .contacts__link-description{
        display: none;
      }

      .contacts__link:nth-child(1){
        padding-bottom: 15px;
        border-bottom: 1px solid var(--fontColor);
      }
      .contacts__link:nth-child(2){
        padding-bottom: 15px;
        border-bottom: 1px solid var(--fontColor);
      }

      .description__socials-name{
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 115%; /* 18.4px */
        letter-spacing: -0.32px;
      }

      .description__socials-name_social{
        display: none;
      }
      
      .description__text{
        font-size: 15px ;
        text-align: start;
      }
      
      .description__socials{
        display: flex;
        flex-direction: row;
        min-width: 330px;
        width: 100%;
        justify-content: space-between;

      }

      .talk{
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: start;
        width: 100%;
      }
      .talk__top{
        gap: 15px;
        display: flex;
        flex-direction: column;
        width: 100%;
      }
      .talk__top-title{
        border-bottom: 1px var(--fontColor) solid;
        font-size: 24px;
        padding-bottom: 15px;

      }
      .talk__top-text{
        
        font-size: 14px;

      }
      .talk__button{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        color: var(--bgColor);
        background-color: var(--fontColor);
        height: 57px;
        width: 100%;

      }
      
      @media (min-width: 1024px){
                .container{
                  height: calc(100vh - 86px);
                }
                .main{
                  min-height: 532px;
                  margin-bottom: 274px;
                  
                }
                .main__title{
                  font-family: "DrukCyr-Bold";
                  font-size: 330px;
                  font-style: normal;
                  font-weight: 700;
                  line-height: 80%; /* 264px */
                  letter-spacing: -6.6px;
                  text-transform: uppercase;
                  grid-area: 1 / 1 / 2 / 3;
                  
                }
                .main__num{
                  font-family: "DrukCyr-Bold";
                  font-size: 330px;
                  font-style: normal;
                  font-weight: 700;
                  line-height: 80%; /* 264px */
                  letter-spacing: -6.6px;
                  text-transform: uppercase;
                  grid-area: 2 / 2 / 3 / 4;
                  
                }
                
                .contacts__link{
                  display: grid;
                  grid-template-columns: repeat(6, 1fr);
                  grid-template-rows: 1fr;
                  grid-column-gap: 20px;
                  grid-row-gap: 0px;
                }

                .contacts__link-name{
                  grid-area: 1 / 1 / 2 / 3;
                  font-size: 32px;
                }

                .contacts__link-description{
                  display: block;
                  grid-area: 1 / 4 / 2 / 5;
                  font-size: 18px;
                  align-self: self-end;
                }

                .contacts__link-num{
                  grid-area: 1 / 5 / 2 / 7;
                  font-size: 32px;
                  justify-self: end;

                }

                .description__text{
                  font-size: 32px;
                  width: 100%;
                }

                .talk{
                  display: flex;
                  flex-direction: column;
                  gap: 20px;
                  align-items: start;
                  width: 100%;
                }
                .talk__top{
                  display: flex;
                  flex-direction: row;
                  border-bottom: 1px var(--fontColor) solid;
                  justify-content: space-between;
                  padding-bottom: 20px;
                  width: 100%;

                }
                .talk__top-title{
                  width: 50%;
                  border-bottom: none;
                  font-size: 32px;

                }
                .talk__top-text{
                  width: 50%;
                  font-size: 18px;

                }
                .talk__button{
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  font-size: 24px;
                  align-self: end;
                  width: 50%;
                  height: 57px;

                }
                .description__socials-name{
                  font-size: 32px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 100%; /* 32px */
                  letter-spacing: -1.28px;
                }
                .description__socials-name_social{
                  display: block;
                  align-self: self-end;
                }
        }      
        @media (min-width: 1600px){
          
    
            .main{
              display: grid;
              grid-template-columns: repeat(12, 1fr);
              min-height: 532px;
              margin-bottom: 80px;
            }
            .main__title{
              font-size: 330px;
              font-style: normal;
              font-weight: 700;
              line-height: 80%; /* 264px */
              letter-spacing: -6.6px;
              text-transform: uppercase;
              grid-area: 1 / 1 / 2 / 10;
            }
            .main__num{
              font-size: 330px;
              font-style: normal;
              font-weight: 700;
              line-height: 80%; /* 264px */
              letter-spacing: -6.6px;
              text-transform: uppercase;
              grid-area: 2 / 5 / 3 / 13; 
            }
                  
                  .aside{
                    display: flex;
                    align-self: end;
                    width: 50%;
                  }
                  
                  .description__socials-name{
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 100%; /* 32px */
                    letter-spacing: -1.28px;
                  }
                  .description__socials-name_social{
                    display: block;
                    align-self: self-end;
                  }
                  
                  
          }
@media (min-width: 3000px){
            
            .container{
              overflow-y: scroll;
              scroll-behavior: smooth;
            }
            
            .main{
              display: grid;
              grid-template-columns: repeat(12, 1fr);
              min-height: 932px;
              grid-template-rows: repeat(2, 1fr);
              grid-row-gap: 20px;
              margin-bottom: 120px;
            }
            .main__title{
              font-size: 600px;
              font-style: normal;
              font-weight: 700;
              line-height: 80%; /* 480px */
              letter-spacing: -12px;
              text-transform: uppercase;
              grid-area: 1 / 1 / 2 / 10;
            }
            .main__num{
              font-size: 600px;
              font-style: normal;
              font-weight: 700;
              line-height: 80%; /* 480px */
              letter-spacing: -12px;
              text-transform: uppercase;
              grid-area: 2 / 5 / 3 / 13; 
            }
            .aside{
              padding-top: 120px;

            }
            .contacts{}
            .contacts__link{

            }
            .contacts__link-name{
              font-size: 48px;
              font-style: normal;
              font-weight: 400;
              line-height: 100%; /* 48px */
              letter-spacing: -1.92px;
            }
            .contacts__link-description{
              font-size: 24px;
              font-style: normal;
              font-weight: 400;
              line-height: 120%; /* 24px */
              letter-spacing: -0.4px;
            }
            .contacts__link-num{
              font-size: 48px;
              font-style: normal;
              font-weight: 400;
              line-height: 100%; /* 48px */
              letter-spacing: -1.92px;
            }
            
            .description{
              /* gap: 80px; */
            }
            .description__text{
              font-size: 48px;
              font-style: normal;
              font-weight: 400;
              line-height: 100%; /* 48px */
              letter-spacing: -1.92px;
            }

            .talk__top-title{
              font-size: 48px;
              font-style: normal;
              font-weight: 400;
              line-height: 100%; /* 48px */
              letter-spacing: -1.92px;
            }

            .talk__top-text{
              font-size: 24px;
              font-style: normal;
              font-weight: 400;
              line-height: 120%; /* 24px */
              letter-spacing: -0.4px;
            }

            .talk__button{
              height: 86px;
              font-size: 36px;
              font-style: normal;
              font-weight: 400;
              line-height: 115%; /* 41.4px */
              letter-spacing: -1.44px;
            }
            .description__socials{
              padding-bottom: 20px;
            }
            .description__socials-name{
              font-size: 48px;
              font-style: normal;
              font-weight: 400;
              line-height: 100%; /* 48px */
              letter-spacing: -1.92px;
            }
            .description__socials-name_social{
              font-size: 24px;
            }
            .description__socials-name{
              font-size: 32px;
              font-weight: 400;
            }
            .description__socials-name_social{
              display: block;
              align-self: self-end;
            }
            
      }     