@font-face {
        font-family: "DrukCyr-Bold";  
        src: url("../fonts/DrukCyr-Bold.ttf") format("truetype"); 
        font-style: normal; 
        font-weight: normal;
        }
        
        @font-face{
        font-family: "HelveticaNeueCyr-Roman";
        src: url("../fonts/HelveticaNeueCyr-Roman.ttf") format("truetype");
        font-style: normal; 
        font-weight: normal; 
        }

html{
        scroll-behavior: smooth;
}
html::-webkit-scrollbar { width: 0; }
body{
        font-family: "HelveticaNeueCyr-Roman";
        background-color: #0D100E;
        color: #A83E3E;
        margin: 0;
}
.wrapper{
        margin:0 15px 0 15px;
        place-items: center;
        height: 100vh;
}
span{
}

.header {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 15px;
        grid-row-gap: 0px;
        z-index: 2;
        position: relative;
        height: 7dvh;
        padding: 15px 0 0;
        border-bottom: 1px solid #A83E3E;
}
.header__logo{
align-self: start;
justify-self: start;
align-items: start;
grid-area: 1 / 1 / 2 / 2;
}

.header__tab{
display: none;
}
.header__tab-project{
        display: none;
}
.header__tab-about{
        display: none;
}
.header__tab-conacts{
        display: none;
}

.header__menu-language_en{
        display: none;
}
.header__menu-language_ru{
        display: none;
}

.header__language{
align-self: end;
justify-self: end;
}
.header__language-left{
position: relative;
top:0px;
}
.header__language-right{
position: relative;
top: -14px;
}
.header__menu{
grid-area: 1 / 5 / 2 / 7;
display: flex;
justify-self: end;
justify-content: end;
gap: 7px;
}
.header__menu-open{
font-size: 15px;
font-weight: 400;
color: #A83E3E;
transition: 1s all;
}
.header__menu-close{
display: none;
color: #A83E3E;
font-size: 15px;
font-weight: 400;
transition: 1s all;
}
.header__menu-button {
display: flex;
flex-direction: column;
width: fit-content;
}
svg {
transition: 0.7s all;
}
.header__menu-button-down {
display: flex;
margin: 0 0 0 auto;
transform: translateY(-15px);
}
/*Modal*/
/* The Modal (background) */
.modal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
left: 0;
top: 0;
height: 100vh;
overflow-y: hidden;
color: #A83E3E;
transition: opacity 1s ease-in-out;
}
/* Modal Content */
.modal-content {
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
position: relative;
background-color: #0D100E;
margin: auto;
padding: 0;
width: 100%;
height: 100%;
animation-timing-function: ease-in-out;
animation-name: animatetop;
animation-duration: 0.5s;
padding:0 15px 0 15px;
}
.modal-content-hide {
animation-timing-function: ease-in-out;
animation-name: animatehide;
animation-duration: 0.5s;
}
/* Add Animation */
@-webkit-keyframes animatetop {
from {  background-color: #A83E3E;
opacity:0} 
to {background-color: #0D100E; opacity:1;  transition: 0.7s all;
}
}
@keyframes animatetop {
from {background-color: #A83E3E; opacity:0}
to {background-color: #0D100E; opacity:1}
}
@-webkit-keyframes animatehide {
from {  background-color: #0D100E;
opacity:1;} 
to {background-color: #A83E3E; opacity:0;  transition: 0.7s all;
}
}
@keyframes animatehide {
from {  background-color: #0D100E;
opacity:1;} 
to {background-color: #A83E3E; opacity:0;
}
}
/* The Close Button */
.close {
align-self: start;
justify-self: end;
font-size: 16px;
}
.close:hover,
.close:focus {
text-decoration: none;
cursor: pointer;
}
.modal-header {
display: grid;
grid-template-columns: 10fr 1fr 1fr;
grid-gap:1em;
padding: 15px 0 15px 0;
border-bottom: 1px solid #A83E3E;
}
.modal-header__logo{
background-color: inherit;
align-self: start;
justify-self: start;
align-items: start;
}
.modal-header__language{
align-self: end;
justify-self: end;
}
.modal-header__language-left{
height: 23px;
top: 15px;
position: absolute;
}
.modal-header__language-right{
position: relative;
top: -3px;
}
.modal-tab{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 100%;
height: 80%;
gap: 15px;
margin: 0;
padding: 0;
}
.modal-tab__text-top{
position: relative;
font-family: "DrukCyr-Bold";  
font-size: 96px;
text-transform: uppercase;
line-height: 80%;
animation-duration: 0.6s;
animation-name: slidein-top;
}
.modal-tab__text-top-hide{
animation-duration: 1s;
animation-name: slidein-top-hide;
}
@keyframes slidein-top-hide {
from {
top: 0%;
}
to {
top: -100%;
}
}
@keyframes slidein-top {
from {
top: -100%;
}
to {
top: 0%;
}
}
.modal-tab__text-top__slower{
position: relative;
font-family: "DrukCyr-Bold";  
font-size: 96px;
text-transform: uppercase;
line-height: 80%;
animation-duration: 1s;
animation-name: slidein-top__slower;
}
@keyframes slidein-top__slower {
from {
top: -100%;
}
to {
top: 0%;
}
}
.modal-tab__text-top__slower-hide{

animation-duration: 0.6s;
animation-name: slidein-top__slower-hide;
}
@keyframes slidein-top__slower-hide {
from {
top: 0%;
}
to {
top: -100%;
}
}
.modal-tab__text-bottom{
position: relative;
font-family: "DrukCyr-Bold";  
font-size: 96px;
text-transform: uppercase;
line-height: 80%;
animation-duration: 0.6s;
animation-name: slidein-bottom;
}
@keyframes slidein-bottom {
from {
bottom: -100%;
opacity: 0;
}
to {
bottom: 0%;
opacity: 1;
}
}
.modal-tab__text-bottom-hide{
animation-duration: 1s;
animation-name: slidein-bottom-hide;
}
@keyframes slidein-bottom-hide {
from {
bottom: 0%;
opacity: 1;

}
to {
bottom: -100%;
opacity: 0;
}
}
.modal-tab__text-bottom__slower{
position: relative;
font-family: "DrukCyr-Bold";  
font-size: 96px;
text-transform: uppercase;
line-height: 80%;
animation-duration: 1s;
animation-name: slidein-bottom__slower;
}
@keyframes slidein-bottom__slower {
from {
bottom: -100%;
opacity: 0;
}
to {
bottom: 0%;
opacity: 1;
}
}
.modal-tab__text-bottom__slower-hide{
animation-duration: 0.6s;
animation-name: slidein-bottom__slower-hide;
}
@keyframes slidein-bottom__slower-hide {
from {
bottom: 0%;
opacity: 1;
}
to {bottom: -100%;
opacity: 0;

}
}
.modal-text{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
position: relative;
padding-bottom: 15px;
font-size: 14px;
animation-duration: 1.3s;
animation-name: slidein-text;
}
@keyframes slidein-text {
from {
bottom: -100%;
opacity: 0;
}
to {
bottom: 0%;
opacity: 1;
}
}
.modal-text-hide{
animation-duration: 1.3s;
animation-name: slidein-text-hide;
}
@keyframes slidein-text-hide {
from {
bottom: 0%;
opacity: 1;
}
to {
bottom: -100%;
opacity: 0;
}
}
.container {
display: flex;
flex-direction: column;
justify-content: start;
width: 100%;
height: 100vh;
overflow-x: hidden;
}
.container::-webkit-scrollbar {
        width: 0;
      }
.main {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(2, auto);
        grid-column-gap: 15px;
        grid-row-gap: 291px;
        border-bottom: 1px #A83E3E solid ;
        padding-bottom: 15px;

}
.main::-webkit-scrollbar {
        width: 0;
      }
.main__title{
        font-family: "DrukCyr-Bold";
        grid-area: 1 / 1 / 2 / 7;
        font-weight: 700;
        font-stretch: 50%;
        font-size: 342px;
        line-height: 240px;
        text-transform: uppercase;
        letter-spacing: -0.01ex;

}
.main__text{
        display: flex;
        flex-direction: column;
        font-size: 14px;
        grid-area: 2 / 4 / 3 / 7; 
        width: 100%;
        gap: 30px;
}

.main__often{
        display: none;
}
.main__number{
        display: none;
}

.main__text-description{
        line-height: 16px;
        letter-spacing: -2%;
}
.main__text-company{
        text-transform: uppercase;
        letter-spacing: -2%;

}
.main__text-question{
        display: none;
}

.main__text-number{
        display: none;
}

.main__text-number_second{
        display: none;
}

.how{
        display: flex;
        flex-direction: column;
        justify-content: start;
}

.how__item{
        border-bottom: 1px #A83E3E solid;
}

.how__item-header{
        padding: 15px 0 15px 0;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(3, auto);
        grid-column-gap: 15px;
        grid-row-gap: 30px;
        width: 100%;

}

.how__item-header_question{
        font-size: 14px;
        justify-self: self-start;
        grid-area: 1 / 1 / 2 / 2;
}

.how__item-header_num{
        font-size: 14px;
        grid-area: 1 / 6 / 2 / 7;
        justify-self: self-end;
}

.how__item-header_num-second{
        display: none;
}

.how__item-header_text{
        font-size: 24px;
        font-weight: 400;
        line-height: 24px;
        justify-self: self-start;
        grid-area: 2 / 1 / 3 / 7;
}

.collapse-button{
        position: relative;
        width: 100%;
        font-size: 14px;
        text-align: start;
        MIN-WIDTH: 330px;
        justify-self: self-start;
        grid-area: 3 / 1 / 4 / 7;
}

.collapse-button::after {
        position: absolute;
        content: "";
        display: inline-block;
        right: 0;
        width: 14px;
        height: 14px;
        background-image: url("/img/faq-arrow.png");
        background-size: cover;
      }

.answer-button{
        position: relative;
        width: 100%;
        font-size: 14px;
        justify-self: self-start;
        text-align: start;
        MIN-WIDTH: 330px;
        grid-area: 3 / 1 / 4 / 7;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.answer-button::after {
        position: absolute;
        content: "";
        display: inline-block;
        right: 0;
        width: 14px;
        height: 14px;
        background-image: url("/img/faq-arrow.png");
        background-size: cover;
      }

.how__item-header_answer{
        font-size: 14px;
        justify-self: self-start;
        grid-area: 3 / 1 / 4 / 3;
}


.accordion {
        gap: 20px;
        overflow: hidden;
        transition: max-height 0.4s ease-out;
        max-height: 0;
      }
      .accordion.active {
        gap: 20px;
        max-height: 500px; /* Задайте желаемую высоту */
        transition: max-height 0.4s ease-in;
        transition-duration: 0.4s;

      }

.accordion__content{
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        padding-bottom: 15px;
}
.accordion__content-text{
        width: 100%;
}




.question{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(2, auto);
        grid-column-gap: 15px;
        grid-row-gap: 60px;   
        margin-bottom: 20px;
}
.question__title{
        grid-area: 1 / 1 / 2 / 4;
        align-self:self-start;
}

.question__development{
        display: none;
}

.question__text{
        grid-area: 1 / 4 / 2 / 7;
}

.question__button{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        font-weight: 400;
        width: 100%;
        align-self: center;
        justify-self: center;
        height: 52px;
        background-color: #A83E3E;
        color: #0D100E;
        grid-area: 2 / 1 / 3 / 7; 
        border-radius: 4px;
}

.question__date{
        display: none;
}





/*Footer*/
.footer{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        padding: 15px 0 15px 0;
        border-top: 1px solid #A83E3E;
        font-size: 14px;
        height: 38px;
      }
      
      .footer__date{
        grid-area: 1 / 1 / 2 / 2;
      }
      
      
      
      .footer__rights{
        grid-area: 1 / 2 / 2 / 5;
      }
      .footer__image{
        display: none;
      }
      .footer__link{
        display: none;
      }
      .footer__projects{
        display: none;
      }
      .footer__studio{
        grid-area: 1 / 5 / 2 / 7;
        align-self: end;
        justify-self: end;
      }

@media (min-width: 1024px){
        .wrapper{
                margin:0 20px 0 20px;
        }
        .header {
                display: grid;
                grid-template-columns: repeat(6, 1fr);
                grid-template-rows: 1fr;
                grid-column-gap: 20px;
                grid-row-gap: 0px;
                z-index: 2;
                position: relative;
                padding: 15px 0 0;
                border-bottom: 1px solid #A83E3E;
                }
                .header__logo{
                        grid-area: 1 / 1 / 2 / 2;
                }
                .header__menu {
                        grid-area: 1 / 6 / 2 / 7;
                        display: flex;
                        height: 50px;
                        justify-self: self-end;
                        gap: 7px;
                    }
                    .header__menu-open{
                      display: none;
                    }
                    .header__menu-close{
                      display: none;
                    }
                    .header__menu-language_en{
                      display: block;
                    }
                    .header__menu-language_ru{
                      display: none;
                    }
                    .header__tab{
                        display: block;
                        grid-area: 1 / 4 / 2 / 5;
                        align-self: start;
                        justify-self: start;
                        align-items: start;

                        }
                .header__tab-project{
                        display: block;
                }
                .header__tab-about{
                        display: none;
                }
                .header__tab-conacts{
                        display: none;
                }

        .main {
                display: grid;
                grid-template-columns: repeat(6, 1fr);
                grid-template-rows: repeat(2, auto);
                grid-column-gap: 20px;
                grid-row-gap: 765px;
                border-bottom: 1px #A83E3E solid ;
                padding-bottom: 20px;
        
        }
        .main__title{
                font-family: "DrukCyr-Bold";
                grid-area: 1 / 1 / 2 / 3;
                font-weight: 700;
                font-stretch: 50%;
                font-size: 330px;
                line-height: 264px;
                text-transform: uppercase;
                letter-spacing: -0.01ex;
        
        }

        .main__often{
                font-size: 32px;
                font-weight: 400;
                padding-top: 20px;
                display: block;
                width: 150px;
                justify-self: end;
                grid-area: 1 / 4 / 2 / 5;
        }
        .main__number{
                font-family: "DrukCyr-Bold";
                font-weight: 700;
                font-stretch: 50%;
                font-size: 330px;
                line-height: 264px;
                justify-self: self-end;
                text-transform: uppercase;
                letter-spacing: -0.01ex;
                display: block;
                grid-area: 1 / 6 / 2 / 7;
        }

        .main__text{
                display: grid;
                grid-template-columns: repeat(6, 1fr);
                grid-template-rows: 1fr;
                grid-column-gap: 20px;
                grid-row-gap: 0px;
                font-size: 18px;
                grid-area: 2 / 1 / 3 / 7;
                width: 100%;
        }
        
        .main__text-company{
                display: none;

                
        }
        .main__text-question{
                display: block;
                align-self: end;
                grid-area: 1 / 1 / 2 / 2;
                letter-spacing: -2%;
        }
        
        .main__text-description{
                grid-area: 1 / 4 / 2 / 7;
                line-height: 18px;
                letter-spacing: -2%;
        }
        

        .how__item-header{
                padding: 20px 0 20px 0;
                display: grid;
                grid-template-columns: repeat(6, 1fr);
                grid-template-rows: auto;
                grid-column-gap: 20px;
                grid-row-gap: 0px;
                grid-row-gap: 30px;
        
        }
        
        .how__item-header_question{
                display: none;
        }
        
        .how__item-header_num{
                font-size: 24px;
                font-weight: 400;
                grid-area: 1 / 1 / 2 / 2; 
                align-self: self-start;
                justify-self: self-start;
        }
        
        .how__item-header_text{
                font-size: 24px;
                font-weight: 400;
                line-height: 24px;
                align-self: self-start;
                justify-self: self-start;
                grid-area: 1 / 2 / 2 / 5;
        }
        .collapse-button{
                font-size: 24px;
                font-weight: 400;
                min-width: 315px;
                text-align: end;
                justify-self: self-end;
                align-self: self-start;
                grid-area: 1 / 6 / 2 / 7;
        }

        .collapse-button::after {
                display: none;

        }
        .answer-button{
                font-size: 24px;
                font-weight: 400;
                min-width: 315px;
                text-align: end;
                justify-self: self-end;
                align-self: self-start;
                grid-area: 1 / 6 / 2 / 7;
        }
        .answer-button::after {
                display: none;
        }
        .accordion {
                display: flex;
                justify-self: self-end;
        }
        .accordion.active {
                display: flex;
                justify-self: self-end;
        }
        .accordion__content{
                display: grid;
                grid-template-columns: repeat(6, 1fr);
                grid-template-rows: repeat(2, auto);
                grid-column-gap: 20px;
                grid-row-gap: 20px;
                font-size: 18px;
                padding-top: 80px;
        }

        .accordion__content-text_first{
                grid-area: 1 / 4 / 2 / 7;
        }
        .accordion__content-text_second{
                grid-area: 2 / 4 / 3 / 7;
        }

        .how__item-header_answer{
                font-size: 14px;
                justify-self: self-start;
        }        
        

        .question{
                display: grid;
                grid-template-columns: repeat(6, 1fr);
                grid-template-rows: repeat(2, auto);
                grid-row-gap: 80px;   
                margin: 20px 0 20px 0;
        }
        .question__title{
                grid-area: 2 / 1 / 3 / 2;
                align-self:self-end;
        
        }
        .question__text{
                font-size: 18px;
                font-weight: 400;
                grid-area: 1 / 4 / 2 / 7;
        }
        .question__button{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                font-size: 16px;
                font-weight: 400;
                width: 100%;
                align-self: center;
                justify-self: center;
                height: 52px;
                background-color: #A83E3E;
                color: #0D100E;
                grid-area: 2 / 4 / 3 / 7;
        }


        .footer{
                display: grid;
                grid-template-columns: repeat(6, 1fr);
                grid-template-rows: 1fr;
                grid-column-gap: 20px;
                grid-row-gap: 0px;
                width: 100%;
                height: 67px;

              }
              .footer__date{
                align-self: self-end;
                grid-area: 1 / 1 / 2 / 2;
              }
              .footer__link{
                display: block;
                align-self: self-end;
                justify-self: center;
                display: flex;
                flex-direction: row;
                gap: 20px;
                grid-area: 1 / 3 / 2 / 5; 
                gap: 20px;
              }
              .footer__image{
                justify-self: self-end;
                grid-area: 1 / 6 / 2 / 7;
              }
              .description__socials-name{
                font-size: 32px;
                font-weight: 400;
              }
              .description__socials-name_social{
                display: block;
                align-self: self-end;
              }
              .footer__rights{
                display: none;
              }
             .footer__studio{
              display: none;
             }
             .footer__image{
              display: block;
            }
}


@media (min-width: 1600px){
        .header {
                display: grid;
                grid-template-columns: repeat(12, 1fr);
                grid-template-rows: 1fr;
                grid-column-gap: 20px;
                grid-row-gap: 0px;
                z-index: 2;
                position: relative;
                padding: 15px 0 0;
                border-bottom: 1px solid #A83E3E;
                }
                .header__logo{
                        grid-area: 1 / 1 / 2 / 2;
                }
                .header__menu {
                        grid-area: 1 / 12 / 2 / 13;
                        display: flex;
                        height: 50px;
                        justify-self: self-end;
                        gap: 7px;
                    }
                    .header__menu-open{
                      display: none;
                    }
                    .header__menu-close{
                      display: none;
                    }
                    .header__menu-language_en{
                      display: block;
                    }
                    .header__menu-language_ru{
                      display: none;
                    }
                    .header__tab{
                        display: grid;
                        grid-template-columns: repeat(5, 1fr);
                        grid-template-rows: 1fr;
                        gap: 20px;
                        width: 100%;
                        grid-area: 1 / 7 / 2 / 12; 
                        align-self: start;
                        justify-self: start;
                        align-items: start;

                        }
                .header__tab-project{
                        display: block;
                        grid-area: 1 / 1 / 2 / 2;
                }
                .header__tab-about{
                        display: block;
                        justify-self: self-end;
                        grid-area: 1 / 4 / 2 / 5;
                }
                .header__tab-conacts{
                        display: block;
                        grid-area: 1 / 5 / 2 / 6;
                }
        .main {
                display: grid;
                grid-template-columns: repeat(12, 1fr);
                grid-template-rows: repeat(2, auto);
                grid-row-gap: 495px;
                border-bottom: 1px #A83E3E solid ;
                padding-bottom: 20px;
        
        }
        .main__title{
                font-family: "DrukCyr-Bold";
                grid-area: 1 / 1 / 2 / 3;
                font-weight: 700;
                font-stretch: 50%;
                font-size: 330px;
                line-height: 264px;
                text-transform: uppercase;
                letter-spacing: -0.01ex;
        
        }

        .main__often{
                font-size: 32px;
                font-weight: 400;
                padding-top: 20px;
                display: block;
                justify-self: center;
                grid-area: 1 / 7 / 2 / 8;
        }
        .main__number{
                font-family: "DrukCyr-Bold";
                font-weight: 700;
                font-stretch: 50%;
                font-size: 330px;
                line-height: 264px;
                justify-self: self-end;
                text-transform: uppercase;
                letter-spacing: -0.01ex;
                display: block;
                grid-area: 1 / 12 / 2 / 13;
        }

        .main__text{
                display: grid;
                grid-template-columns: repeat(12, 1fr);
                grid-template-rows: auto;
                grid-column-gap: 20px;
                grid-row-gap: 0px;
                font-size: 16px;
                grid-area: 2 / 1 / 3 / 13;
                width: 100%;
        }
        .main__text-number{
                grid-area: 1 / 1 / 2 / 2;
                align-self: self-end;
                justify-self: self-start;
                display: block;
        }

        .main__text-question{
                display: block;
                align-self: end;
                grid-area: 1 / 2 / 2 / 3;           
                letter-spacing: -2%;
        }

        .main__text-description{
                max-width: 658px;
                width: 100%;
                grid-area: 1 / 7 / 2 / 10;
                letter-spacing: -2%;
        }

        .main__text-number_second{
                justify-self: self-end;
                align-self: self-end;
                grid-area: 1 / 12 / 2 / 13;
                display: block;
        }
        .main__text-company{
                display: none;        
        }
         
        
        .how__item{
                border-bottom: 1px #A83E3E solid;
        }
        
        .how__item-header{
                padding: 15px 0 15px 0;
                display: grid;
                grid-template-columns: repeat(12, 1fr);
                grid-template-rows: auto;
                grid-column-gap: 20px;
                grid-row-gap: 0px;
        
        }
        
        .how__item-header_question{
                display: none;
        }
        
        .how__item-header_num{
                grid-area: 1 / 1 / 2 / 2;
                align-self: self-start;
                font-size: 24px;
                justify-self: self-start;
        }

        .how__item-header_text{
                display: block;
                font-size: 24px;
                align-self: self-end;
                grid-area: 1 / 2 / 2 / 6;
        }
        .accordion__content{
                display: grid;
                grid-template-columns: repeat(12, 1fr);
                grid-template-rows: repeat(1, auto);
                grid-column-gap: 20px;
                grid-row-gap: 20px;
                font-size: 18px;
                padding-top: 80px;
        }

        .accordion__content-text_first{
                grid-area: 1 / 10 / 2 / 13;
        }
        .accordion__content-text_second{
                grid-area: 1 / 7 / 2 / 10;
        }
        .collapse-button{
                max-width: 455px;
                font-size: 24px;
                text-align: start;
                align-self: self-start;
                justify-self: self-start;
                grid-area: 1 / 7 / 2 / 11;
        }

        .collapse-button::after {
                content: "";
                display: inline-block;
                
                width: 18px;
                height: 18px;
                background-image: url("/img/faq-arrow.png");
                background-size: cover;
              }

        .answer-button{
                max-width: 455px;
                font-size: 24px;
                text-align: start;
                align-self: self-start;
                justify-self: self-start;
                grid-area: 1 / 7 / 2 / 11;
        }

        .answer-button::after {
                content: "";
                display: inline-block;
                
                width: 18px;
                height: 18px;
                background-image: url("/img/faq-arrow.png");
                background-size: cover;
              }

        .how__item-header_num-second{
                display: block;
                font-size: 24px;
                align-self: self-start;
                justify-self: self-end;
                grid-area: 1 / 12 / 2 / 13;
        }

        
        

       
        .question{
                display: grid;
                grid-template-columns: repeat(12, 1fr);
                grid-template-rows: repeat(2, auto);
                grid-column-gap: 20px;
                grid-row-gap: 80px;
        }
        
        .question__title{
                grid-area: 2 / 1 / 3 / 2;
                align-self: self-end;
                font-size: 32px;
                justify-self: self-start;
        }
        
        .question__development{
                display: block;
                font-size: 32px;
                align-self: self-end;
                grid-area: 2 / 2 / 3 / 4;
        }
        
        .question__text{
                max-width: 455px;
                font-size: 16px;
                grid-area: 1 / 7 / 2 / 10;
        }

        .question__button{
                align-self: self-end;
                justify-self: self-start;
                font-size: 24px;
                max-width: 455px;
                grid-area: 2 / 7 / 3 / 10;
        }

        .question__date{
                display: block;
                font-size: 32px;
                align-self: self-end;
                justify-self: self-end;
                grid-area: 2 / 12 / 3 / 13;
        }
        .footer{
                display: grid;
                grid-template-columns: repeat(12, 1fr);
                grid-template-rows: 1fr;
                grid-column-gap: 20px;
                grid-row-gap: 0px;
                width: 100%;
                font-size: 16px;
                height: 67px;

              }
              .footer__date{
                align-self: center;
                grid-area: 1 / 1 / 2 / 2;
              }
              .footer__rights{
                display: block;
                align-self: center;
                justify-self: center;
                grid-area: 1 / 1 / 2 / 3;
              }
              .footer__projects{
                display: block;
                align-self: self-end;
                align-self: center;
                grid-area: 1 / 7 / 2 / 8;
              }
              .footer__link{
                display: block;
                justify-self: self-end;
                align-self: center;
                grid-area: 1 / 10 / 2 / 12;
                display: flex;
                flex-direction: row;
                gap: 20px;
              }
              .footer__image{
                grid-area: 1 / 12 / 2 / 13;
              }
              .description__socials-name{
                font-size: 32px;
                font-weight: 400;
              }
              .description__socials-name_social{
                display: block;
                align-self: self-end;
              }
             .footer__studio{
              display: none;
             }

}

@media (min-width: 2650px){
        .header {
                font-size: 20px;
                height: 86px;
        }


        .main {
                display: grid;
                grid-template-columns: repeat(12, 1fr);
                grid-template-rows: repeat(2, auto);
                grid-row-gap: 495px;
                border-bottom: 1px #A83E3E solid ;
                padding-bottom: 20px;
        
        }
        .main__title{
                font-family: "DrukCyr-Bold";
                grid-area: 1 / 1 / 2 / 3;
                font-size: 600px;
                font-style: normal;
                font-weight: 700;
                line-height: 80%; /* 480px */
                letter-spacing: -12px;
                text-transform: uppercase;
        
        }

        .main__often{
                font-size: 48px;
                font-style: normal;
                font-weight: 400;
                line-height: 100%; /* 48px */
                letter-spacing: -1.92px;
                padding-top: 20px;
                display: block;
                justify-self: center;
                grid-area: 1 / 7 / 2 / 8;
        }
        .main__number{
                font-family: "DrukCyr-Bold";
                font-size: 600px;
                font-style: normal;
                font-weight: 700;
                line-height: 80%; /* 480px */
                letter-spacing: -12px;
                text-transform: uppercase;
                justify-self: self-end;
                display: block;
                grid-area: 1 / 12 / 2 / 13;
        }

        .main__text{
                display: grid;
                grid-template-columns: repeat(12, 1fr);
                grid-template-rows: auto;
                grid-column-gap: 20px;
                grid-row-gap: 0px;
                font-size: 20px;
                grid-area: 2 / 1 / 3 / 13;
                width: 100%;
        }
        .main__text-number{
                grid-area: 1 / 1 / 2 / 2;
                align-self: self-end;
                justify-self: self-start;
                display: block;
        }

        .main__text-question{
                display: block;
                align-self: end;
                grid-area: 1 / 2 / 2 / 3;           
                letter-spacing: -2%;
        }

        .main__text-description{
                max-width: 835px;
                width: 100%;
                grid-area: 1 / 7 / 2 / 10;
                letter-spacing: -2%;
        }

        .main__text-number_second{
                justify-self: self-end;
                align-self: self-end;
                grid-area: 1 / 12 / 2 / 13;
                display: block;
        }
        .main__text-company{
                display: none;        
        }
         
        
        .how__item{
                border-bottom: 1px #A83E3E solid;
        }
        
        .how__item-header{
                padding: 15px 0 15px 0;
                display: grid;
                grid-template-columns: repeat(12, 1fr);
                grid-template-rows: auto;
                grid-column-gap: 20px;
                grid-row-gap: 0px;
        
        }
        
        .how__item-header_question{
                display: none;
        }
        
        .how__item-header_num{
                grid-area: 1 / 1 / 2 / 2;
                align-self: self-start;
                font-size: 36px;
                justify-self: self-start;
        }

        .how__item-header_text{
                display: block;
                font-size: 36px;
                line-height: 115%; /* 41.4px */
                align-self: self-end;
                grid-area: 1 / 2 / 2 / 6;
        }
        .accordion__content{
                display: grid;
                grid-template-columns: repeat(12, 1fr);
                grid-template-rows: repeat(1, auto);
                grid-column-gap: 20px;
                grid-row-gap: 20px;
                font-size: 18px;
                padding-top: 80px;
        }

        .accordion__content-text_first{
                grid-area: 1 / 10 / 2 / 13;
        }
        .accordion__content-text_second{
                grid-area: 1 / 7 / 2 / 10;
        }
        .collapse-button{
                max-width: 835px;
                font-size: 36px;
                text-align: start;
                align-self: self-start;
                justify-self: self-start;
                grid-area: 1 / 7 / 2 / 11;
        }

        .collapse-button::after {
                content: "";
                display: inline-block;
                
                width: 18px;
                height: 18px;
                background-image: url("/img/faq-arrow.png");
                background-size: cover;
              }

        .answer-button{
                max-width: 835px;
                font-size: 36px;
                text-align: start;
                align-self: self-start;
                justify-self: self-start;
                grid-area: 1 / 7 / 2 / 11;
        }

        .answer-button::after {
                content: "";
                display: inline-block;
                
                width: 18px;
                height: 18px;
                background-image: url("/img/faq-arrow.png");
                background-size: cover;
              }

        .how__item-header_num-second{
                display: block;
                font-size: 24px;
                align-self: self-start;
                justify-self: self-end;
                grid-area: 1 / 12 / 2 / 13;
        }

       
        .question{
                display: grid;
                grid-template-columns: repeat(12, 1fr);
                grid-template-rows: repeat(2, auto);
                grid-column-gap: 20px;
                grid-row-gap: 120px;
        }
        
        .question__title{
                grid-area: 2 / 1 / 3 / 2;
                align-self: self-end;
                font-size: 48px;
                justify-self: self-start;
        }
        
        .question__development{
                display: block;
                font-size: 48px;
                align-self: self-end;
                grid-area: 2 / 2 / 3 / 4;
        }
        
        .question__text{
                max-width: 835px;
                font-size: 20px;
                grid-area: 1 / 7 / 2 / 10;
        }

        .question__button{
                align-self: self-end;
                justify-self: self-start;
                font-size: 24px;
                max-width: 835px;
                grid-area: 2 / 7 / 3 / 10;
        }

        .question__date{
                display: block;
                font-size: 48px;
                align-self: self-end;
                justify-self: self-end;
                grid-area: 2 / 12 / 3 / 13;
        }

        .footer{
                display: grid;
                grid-template-columns: repeat(12, 1fr);
                grid-template-rows: 1fr;
                grid-column-gap: 20px;
                grid-row-gap: 0px;
                width: 100%;
                height: 86px;
                font-size: 20px;
  
              }
              .footer__date{
                align-self: center;
                grid-area: 1 / 1 / 2 / 2;
              }
              .footer__rights{
                display: block;
                align-self: center;
                justify-self: center;
                grid-area: 1 / 1 / 2 / 3;
              }
              .footer__projects{
                display: block;
                align-self: self-end;
                align-self: center;
                grid-area: 1 / 7 / 2 / 8;
              }
              .footer__link{
                display: block;
                justify-self: self-end;
                align-self: center;
                grid-area: 1 / 10 / 2 / 12;
                display: flex;
                flex-direction: row;
                gap: 20px;
              }
              .footer__image{
                grid-area: 1 / 12 / 2 / 13;
              }
              .description__socials-name{
                font-size: 32px;
                font-weight: 400;
              }
              .description__socials-name_social{
                display: block;
                align-self: self-end;
              }
             .footer__studio{
              display: none;
             }
}