html{
  scroll-behavior: smooth;
}
html::-webkit-scrollbar { width: 0; }

#main-container, #description-container {
  transition: 1.5s;
}

.main-title__img {
  width: 400px;
  height: 265px;
  overflow: hidden;
}

.main-title__img-pic {
  transition: 1.5s;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.main__title {
  display: flex;
  gap: 40px;
  align-items: center;
}

:root {
  --bgColor: #B24201;
  --fontColor: #DDD0BD;
}


.wrapper {
  overflow: visible;
}

.container {
  width: fit-content;
  height: calc(100vh - 67px - 38px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: hidden;
}
.container::-webkit-scrollbar {
  width: 0;
}

.main {
  display: flex;
  align-items: start;
  justify-content: start;
  height: 265px;
  height: 630px;
  /* width: 3000px; */
  white-space: nowrap;
  width: fit-content;
}

.main__title{
  font-family: "DrukCyr-Bold";
  font-size: 356px;
  font-style: normal;
  font-weight: 700;
  line-height: 75%;
  letter-spacing: -3.56px;
  text-transform: uppercase;
}


.description {
  display: flex;
  max-width: fit-content;
  list-style-type:none;
  height: auto;
  padding: 0;
  margin:0 0 15px 0;  
  flex-wrap: nowrap;
  width: min-content;
}

.description__scroll {
  width: 100vw;
  display: grid;
  color: var(--fontColor);
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 20px;
  column-gap: 105px;
}

.description__scroll-title {
  align-self: end;
  font-weight:100;
  font-size: 24px;
  padding: 0;
  margin: 0;
  grid-row: 2 / 2;
  grid-column: 1 / 2;
}

.description__scroll-num {
  align-self: end;
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}

.description__scroll-text {
  width:330px;
  overflow: hidden;
  font-weight: 400;
  font-size: 14px;
  padding: 0;
  margin: 0;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.description__button{
  display: flex;
  flex-direction: row;
  align-items: end;
  gap:-1em;
}

.description__button-scroll{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: inherit;
  width: 74px;
  height: 74px;
  font-size: 14px;
  border: var(--fontColor) 1px solid;
  border-radius: 40px;
  margin-right: -5px;
}

.description__button-next{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: inherit;
  width: 74px;
  height: 74px;
  font-size: 14px;
  border: var(--fontColor) 1px solid;
  border-radius: 40px;
  margin-left: -5px;
}

@media (min-width: 1024px){
  .wrapper{
    margin:0 20px 0 20px;
  }
          .container{
            height: calc(100vh - 86px - 66px);
          }

          .main {
            display: flex;
            align-items: start;
            justify-content: start;
            height: 513px;
            height: 630px;
            /* width: 3000px; */
            white-space: nowrap;
          }
          
          .main__title{
            font-family: "DrukCyr-Bold";
            font-weight: 700;
            font-stretch: 50%;
            font-size: 650px;
            line-height: 75%;
            text-transform: uppercase;
            letter-spacing: -0.01ex;
            
          }
          
          .description{
            display: flex;
            flex-direction: row;
            max-width: fit-content;
            width: fit-content;
            gap:100px;
            list-style-type:none;
            height: auto;
            padding: 0;
            margin:0 0 15px 0;  
          }
          
          
          .description__scroll {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, auto);
            gap: 20px;
            column-gap: 245px;
          
          
          }
          
          .description__scroll-title {
            align-self: end;
            font-weight:400;
            font-size: 48px;
            padding: 0;
            margin: 0;
            grid-row: 2 / 2;
            grid-column: 1 / 2;
          }
          
          .description__scroll-num {
            align-self: end;
            font-size: 18px;
            grid-row: 1 / 2;
            grid-column: 2 / 3;
          }
          
          .description__scroll-text {
            width:482px;
            overflow: hidden;
            font-weight: 400;
            font-size: 18px;
            padding: 0;
            margin: 0;
            grid-row: 2 / 3;
            grid-column: 2 / 3;
          }
          
          .description__button{
            display: flex;
            flex-direction: row;
            align-items: end;
            gap:-1em;
          
          }
          
          .description__button-scroll{
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: inherit;
            width: 74px;
            height: 74px;
            font-size: 14px;
            border-radius: 40px;
            margin-right: -5px;
          }
          
          .description__button-next{
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: inherit;
            width: 74px;
            height: 74px;
            font-size: 14px;
            border-radius: 40px;
            margin-left: -5px;
          }
}

@media (min-width: 1400px){
    .wrapper {
          /* overflow: hidden; */
    }
    .container{
     height: calc(100dvh - 86px - 67px);       
     overflow-y: unset;
     overflow-x: unset;
     transition: .5s;
    }
  .main {
    display: flex;
    align-items: start;
    justify-content: start;
    height: 360px;
    height: 630px;
    /* width: 3000px; */
    white-space: nowrap;
  }
  
  .main__title{
    font-family: "DrukCyr-Bold";
    font-size: 484px;
    font-style: normal;
    font-weight: 700;
    line-height: 75%;
    letter-spacing: -4.84px;
    text-transform: uppercase;
    
  }

  
  
  .description{
    display: flex;
    flex-direction: row;
    max-width: fit-content;
    width: fit-content;
    gap:100px;
    list-style-type:none;
    height: auto;
    padding: 0;
    margin:0 0 15px 0;  
  }
  
  
  .description__scroll {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
    column-gap: 245px;
  
  
  }
  
  .description__scroll-title {
    align-self: end;
    font-weight:400;
    font-size: 32px;
    padding: 0;
    margin: 0;
    grid-row: 2 / 2;
    grid-column: 1 / 2;
  }
  
  .description__scroll-num {
    align-self: end;
    font-size: 16px;
    grid-row: 2 / 2;
    grid-column: 3 / 3;
  }
  
  .description__scroll-text {
    width:455px;
    overflow: hidden;
    font-weight: 400;
    font-size: 16px;
    padding: 0;
    margin: 0;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
  }
  
  .description__button{
    display: flex;
    flex-direction: row;
    align-items: end;
    gap:-1em;
  
  }
  
  .description__button-scroll{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: inherit;
    width: 74px;
    height: 74px;
    font-size: 14px;
    border-radius: 40px;
    margin-right: -5px;
  }
  
  .description__button-next{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: inherit;
    width: 74px;
    height: 74px;
    font-size: 14px;
    border-radius: 40px;
    margin-left: -5px;
  }
}

@media (min-width: 2400px){

  .container{
    height: calc(100vh - 86px - 67px);
  }
  .main {
    display: flex;
    align-items: start;
    justify-content: start;
    height: 625px;
    height: 630px;
    /* width: 3000px; */
    white-space: nowrap;
  }
  .main__title{
    font-size: 840px;
    font-style: normal;
    font-weight: 700;
    line-height: 75%;
    text-transform: uppercase;
  }
  .description{
    display: flex;
    flex-direction: row;
    max-width: fit-content;
    width: fit-content;
    gap:100px;
    list-style-type:none;
    height: auto;
    padding: 0;
    margin:0 0 15px 0;  
  }
  
  
  .description__scroll {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
    column-gap: 20px;
  }
  .description__scroll-title {
    align-self: end;
    width: 297px;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 48px */
    letter-spacing: -1.92px;
    padding: 0;
    margin: 0;
    grid-row: 2 / 2;
    grid-column: 1 / 2;
  }
  .description__scroll-num {
    width: 139px;
    align-self: end;
    font-size: 24px;
    grid-row: 2 / 2;
    grid-column: 3 / 3;
  }
  .description__scroll-text {
    min-width:550px;
    overflow: hidden;
    font-weight: 400;
    font-size: 24px;
    padding: 0;
    margin: 0;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
  }
  .description__button{
    display: flex;
    flex-direction: row;
    align-items: end;
    gap:-1em;
  
  }
  .description__button-scroll{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: inherit;
    width: 74px;
    height: 74px;
    font-size: 14px;
    border: var(--fontColor) 1px solid;
    border-radius: 40px;
    margin-right: -5px;
  }
  
  .description__button-next{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: inherit;
    width: 74px;
    height: 74px;
    font-size: 14px;
    border: var(--fontColor) 1px solid;
    border-radius: 40px;
    margin-left: -5px;
  }
}