
.container {
        height: calc(100vh - 67px - 80px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow-x: hidden;
        overflow-y: hidden;
        width: 100%;
}

.container::-webkit-scrollbar {
        width: 0;     
}

.main {
        display: flex;
        width: 100%;
        white-space: nowrap;
        transition: transform 0.5s ease;
}

#main::-webkit-scrollbar, #description::-webkit-scrollbar {
        /* width: 0; */
}

.main__title {
        display: flex;
        flex-direction: row;
        font-family: "DrukCyr-Bold";
        font-size: 356px;
        font-style: normal;
        font-weight: 700;
        line-height: 66%; /* 689px */
        letter-spacing: -3.56px;
        gap: 38px;
        text-transform: uppercase;
        padding-top: 20px;
}
      
.main-title__img {
        width: 429.458px;
        height: 265px;
        overflow: hidden;
        align-self: self-end;
        justify-self: self-end;
}

.main-title__img-pic {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 1.5s;
}

.description {
        display: flex;
        flex-direction: row;
        height: auto;
        padding: 0;
        flex-wrap: nowrap;
        width: min-content;
        transition: transform 0.5s ease;
        gap: 72px;
}

.description__scroll {
        width: 100%;
        display: grid;
        color: var(--fontColor);
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, auto);
        gap: 15px;
}

.description__scroll-title {
        width: 215px;
        align-self: end;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%; /* 24px */
        letter-spacing: -0.96px;
        padding: 0;
        margin: 0;
        grid-area: 1 / 1 / 2 / 2;
        justify-self: self-start;
        align-self: self-end;
}

.description__scroll-text {
        width: 330px;
        height: auto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%; /* 19.2px */
        letter-spacing: -0.32px;
        padding: 0;
        margin: 0;
        grid-area: 1 / 2 / 2 / 3;
        justify-self: self-end;
        align-self: self-end;
}

.description__scroll-num {
        width: 43px;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 115%; /* 16.1px */
        letter-spacing: -0.28px;
        height: auto;
        grid-area: 1 / 3 / 2 / 4;
        justify-self: self-end;
        align-self: self-end;

}



@media (min-width:1024px) {

        .container {
                height: calc(100vh - 67px - 80px);
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 100%;
        }
        
        .container::-webkit-scrollbar {
                width: 0;     
        }
        
        .main {
                display: flex;
                width: 100%;
                white-space: nowrap;
                transition: transform 0.5s ease;
        }
        
        .main__title {
                display: flex;
                flex-direction: row;
                font-family: "DrukCyr-Bold";
                font-size: 689px;
                font-style: normal;
                font-weight: 700;
                line-height: 66%; /* 689px */
                letter-spacing: -6.89px;
                gap: 60px;
                text-transform: uppercase;
                padding-top: 20px;
        }
              
        .main-title__img {
                width: 831.366px;
                height: 513px;
                align-self: self-end;
                justify-self: self-end;
        }
        
        .main-title__img-pic {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: 1.5s;
        }
        
        .description {
                display: flex;
                flex-direction: row;
                height: auto;
                padding: 0;
                flex-wrap: nowrap;
                width: min-content;
                transition: transform 0.5s ease;
                gap: 187px;
        }
        
        .description__scroll {
                width: 100vw;
                display: grid;
                color: var(--fontColor);
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(1, auto);
                gap: 20px;
        }
        
        .description__scroll-title {
                width: 482px;
                align-self: end;
                font-size: 48px;
                font-style: normal;
                font-weight: 400;
                line-height: 100%; /* 48px */
                padding: 0;
                margin: 0;
                grid-area: 1 / 1 / 2 / 2;
        }
        
        .description__scroll-text {
                width: 482px;
                height: auto;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 120%; /* 19.2px */
                letter-spacing: -0.32px;
                padding: 0;
                margin: 0;
                grid-area: 1 / 2 / 2 / 3;
        }
        
        .description__scroll-num {
                width: 148px;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 120%; /* 21.6px */
                letter-spacing: -0.36px;
                height: auto;
                align-self: end;
                grid-area: 1 / 3 / 2 / 4;
        }

}
@media (min-width:1600px) {
        .container {
                height: calc(100vh - 67px - 80px);
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 100%;
        }
        
        .container::-webkit-scrollbar {
                width: 0;     
        }
        
        .main {
                display: flex;
                width: 100%;
                white-space: nowrap;
                transition: transform 0.5s ease;
        }
        
        .main__title {
                display: flex;
                flex-direction: row;
                font-family: "DrukCyr-Bold";
                font-size: 484px;
                font-style: normal;
                font-weight: 700;
                line-height: 66%;
                letter-spacing: -4.84px;
                gap: 40px;
                text-transform: uppercase;
                padding-top: 20px;
        }
              
        .main-title__img {
                width: 583.415px;
                height: 360px;
                align-self: self-end;
                justify-self: self-end;
        }
        
        .main-title__img-pic {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: 1.5s;
        }
        
        .description {
                display: flex;
                flex-direction: row;
                height: auto;
                padding: 0;
                flex-wrap: nowrap;
                width: min-content;
                transition: transform 0.5s ease;
                gap: 178px;
        }
        
        .description__scroll {
                width: 50vw;
                display: grid;
                color: var(--fontColor);
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(1, auto);
                gap: 20px;
        }
        
        .description__scroll-title {
                width: 297px;
                align-self: end;
                font-size: 32px;
                font-style: normal;
                font-weight: 400;
                line-height: 100%; /* 32px */
                letter-spacing: -1.28px;
                padding: 0;
                margin: 0;
                grid-area: 1 / 1 / 2 / 2;
        }
        
        .description__scroll-text {
                width: 297px;
                height: auto;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 120%; /* 19.2px */
                letter-spacing: -0.32px;
                padding: 0;
                margin: 0;
                grid-area: 1 / 2 / 2 / 3;
        }
        
        .description__scroll-num {
                width: 139px;
                height: auto;
                align-self: end;
                grid-area: 1 / 3 / 2 / 4;
        }
}

@media (min-width:3000px) {
        .container {
        }
        
        .main {

        }
        
        .main__title {
                display: flex;
                flex-direction: row;
                font-family: "DrukCyr-Bold";
                font-size: 840px;
                font-style: normal;
                font-weight: 700;
                line-height: 66%;
                letter-spacing: -4.84px;
                text-transform: uppercase;
                padding-top: 20px;
                gap: 100px;
        }
              
        .main-title__img {
                width: 1013.672px;
                height: 625px;
        }
        
        .main-title__img-pic {
        }
        
        .description {
                display: flex;
                flex-direction: row;
                height: auto;
                padding: 0;
                flex-wrap: nowrap;
                width: min-content;
                transition: transform 0.5s ease;
                gap: 305px;
        }
        
        .description__scroll {
                width: 50vw;
                display: grid;
                color: var(--fontColor);
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(1, auto);
                gap: 20px;
        }
        
        .description__scroll-title {
                width: 550px;
                align-self: end;
                font-size: 48px;
                font-style: normal;
                font-weight: 400;
                line-height: 100%; /* 48px */
                letter-spacing: -1.92px;
                padding: 0;
                margin: 0;
                grid-area: 1 / 1 / 2 / 2;
        }
        
        .description__scroll-text {
                width: 550px;
                height: auto;
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: 120%; /* 28.8px */
                letter-spacing: -0.48px;
                padding: 0;
                margin: 0;
                grid-area: 1 / 2 / 2 / 3;
        }
        
        .description__scroll-num {
                width: 265px;
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: 120%; /* 28.8px */
                height: auto;
                align-self: end;
                grid-area: 1 / 3 / 2 / 4;
        }
}