@import "/fonts/DrukCyr-Bold.ttf";


body{
  font-family: 'Roboto', sans-serif;
  background-color: #B24201;
  color:#0f1f1c;
}
.wrapper{
  display: grid;
  margin:0 10px 0 10px;
  place-items: center;
  height: 100vh;
}
span{
  color:#ff0000;
}



.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:10em;
  /* justify-items: center;
  align-items: center; */
  padding: 20px 0 20px 0;
  background-color: #B24201;
  border-bottom: 1px solid #DDD0BD;
}

.header__logo{
  align-self: start;
  justify-self: start;
  align-items: start;
}

.header__language{
  align-self: end;
  justify-self: end;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  white-space: nowrap;
  overflow-x: hidden;
}

.main {
  width: 3000px;
  /* display: inline-block; */
}

.main__title{
  font-family: 'DrukCyr-Bold', sans-serif;
  font-size: 380px;
  line-height: 304px;
  text-transform: uppercase;
  letter-spacing: -0.2ex;
  padding: 20px;
  color: #DDD0BD;
}

.description{
  display: flex;
  flex-direction: row;
  gap:130px;
  color: #DDD0BD;
  list-style-type:none;
  height: 94px;
}

.description__scroll{
  display: flex;
  flex-direction: row;
  gap: 50px;
}


.description__scroll-title{
 
  font-weight:100;
  font-size: 24px;
}
.description__scroll-text{
  width:330px;
  font-size: 14px;
}