

:root {
  --bgColor: #B24201;
  --fontColor: #DDD0BD;
}

.main {
  display: flex;
  align-items: start;
  justify-content: start;
  height: 265px;
  height: 630px;
  /* width: 3000px; */
  white-space: nowrap;

}

.main__title {
  display: flex;
  gap: 40px;
  align-items: center;
}

.main__title{
  font-family: "DrukCyr-Bold";
  font-size: 356px;
  font-style: normal;
  font-weight: 700;
  line-height: 75%;
  letter-spacing: -3.56px;
  text-transform: uppercase;
}


.main-title__img {
  width: 400px;
  height: 265px;
  overflow: hidden;
}

.main-title__img-pic {
  transition: 1.5s;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.container {
  width: unset;
  height: calc(100vh - 67px - 38px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.description-skin {
  width: fit-content;
}

.description {
  display: flex;
  list-style-type:none;
  height: auto;
  padding: 0;
  margin:0 0 15px 0;  
  flex-wrap: nowrap;
  width: fit-content;
}

.description__scroll {
  flex: 0 0 100vw;
  display: grid;
  color: var(--fontColor);
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 20px;
  column-gap: 105px;
}

.description__scroll-title {
  align-self: end;
  font-weight:100;
  font-size: 24px;
  padding: 0;
  margin: 0;
  grid-row: 2 / 2;
  grid-column: 1 / 2;
}

.description__scroll-num {
  align-self: end;
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}

.description__scroll-text {
  width:330px;
  overflow: hidden;
  font-weight: 400;
  font-size: 14px;
  padding: 0;
  margin: 0;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.description__button{
  display: flex;
  flex-direction: row;
  align-items: end;
  gap:-1em;
}