@media (max-width: 928px) {
  .info__title{
    font-size: 42px;
  }
  .about__title{
    font-size: 42px;
    
  }
  .list__item{
    font-size: 14px;
    
  }
  .content{
    padding: 32px 0 50px;
    
  }
  .popup__container{
    width: 100%;
  }
}

@media (max-width: 768px) {
  header{
    position: fixed;
    padding-top: 10px;
    padding-bottom: 10px;  
  }
  .header__top{
    margin-bottom: 15px;
  }
  .nav{
    column-gap: 235px;
    border-bottom: 1px solid #000000;
  }
  .nav__list{
    display: none;
  }
  .burger-menu {
    display: flex;
  }
  .active {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 60px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #87878780;
    backdrop-filter: blur(5px);
  }
  .active li {
    font-size: 26px;
  }
  .active-burger::before {
    top: 12px;
    left: 0px;
    transform: rotate(45deg);
  }
  .active-burger::after {
    transform: rotate(130deg);
  }
  .active-burger .line {
    display: none;
  }
  .burger-menu{
  }
  .info{
    min-height: 405px;
  }
  .info__title{
    font-size: 36px;
    padding-top: 100px;
  }
  .about__title{
    font-size: 36px;
    padding-top: 25px;
  }
  .list__item::before{
    top: 32px;
  }
  .sidebar{
    display: none;
  }
  .reviews__block{
    min-width: 330px;
  }
  .slide-images{
    display: none;
  }
  .popup__container{
    width: 100%;  
  }
  .main__img {
      height: 500px;
      overflow: hidden;

  }
  .main__img img {
    position: relative;
    left: 55%;
    transform: translateX(-35%) translateY(10%);
  }
  .main img{
    width: 575px;
  }
}