@font-face {
        font-family: "DrukCyr-Bold";  
        src: url("../fonts/DrukCyr-Bold.ttf") format("truetype"); 
        font-style: normal; 
        font-weight: normal;
        }
        
        @font-face{
        font-family: "HelveticaNeueCyr-Roman";
        src: url("../fonts/HelveticaNeueCyr-Roman.ttf") format("truetype");
        font-style: normal; 
        font-weight: normal; 
        }

html{
        scroll-behavior: smooth;
}
body{
        font-family: "HelveticaNeueCyr-Roman";
        background-color: #172431;
        color: #C1803E;
        margin: 0;
}
.wrapper{
        margin:0 15px 0 15px;
        place-items: center;
        height: 100vh;
}
span{
}

.header {
display: grid;
grid-template-columns: 10fr 1fr;
grid-gap:1em;
z-index: 2;
position: relative;
padding: 15px 0 0;
border-bottom: 1px solid #C1803E;
}
.header__logo{
align-self: start;
justify-self: start;
align-items: start;
}

.header__tab{
display: none;
}
.header__tab-link{
        display: none;
}

.header__menu-language_en{
        display: none;
}
.header__menu-language_ru{
        display: none;
}

.header__language{
align-self: end;
justify-self: end;
}
.header__language-left{
position: relative;
top:0px;
}
.header__language-right{
position: relative;
top: -14px;
}
.header__menu{
display: flex;
width: 100px;
height: 50px;
justify-content: end;
gap: 7px;
}
.header__menu-open{
font-size: 15px;
font-weight: 400;
color: #C1803E;
transition: 1s all;
}
.header__menu-close{
display: none;
color: #C1803E;
font-size: 15px;
font-weight: 400;
transition: 1s all;
}
.header__menu-button {
display: flex;
flex-direction: column;
width: fit-content;
}
svg {
transition: 0.7s all;
}
.header__menu-button-down {
display: flex;
margin: 0 0 0 auto;
transform: translateY(-15px);
}
/*Modal*/
/* The Modal (background) */
.modal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
left: 0;
top: 0;
height: 100vh;
overflow-y: hidden;
color: #C1803E;
transition: opacity 1s ease-in-out;
}
/* Modal Content */
.modal-content {
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
position: relative;
background-color: #172431;
margin: auto;
padding: 0;
width: 100%;
height: 100%;
animation-timing-function: ease-in-out;
animation-name: animatetop;
animation-duration: 0.5s;
padding:0 15px 0 15px;
}
.modal-content-hide {
animation-timing-function: ease-in-out;
animation-name: animatehide;
animation-duration: 0.5s;
}
/* Add Animation */
@-webkit-keyframes animatetop {
from {  background-color: #C1803E;
opacity:0} 
to {background-color: #172431; opacity:1;  transition: 0.7s all;
}
}
@keyframes animatetop {
from {background-color: #C1803E; opacity:0}
to {background-color: #172431; opacity:1}
}
@-webkit-keyframes animatehide {
from {  background-color: #172431;
opacity:1;} 
to {background-color: #C1803E; opacity:0;  transition: 0.7s all;
}
}
@keyframes animatehide {
from {  background-color: #172431;
opacity:1;} 
to {background-color: #C1803E; opacity:0;
}
}
/* The Close Button */
.close {
align-self: start;
justify-self: end;
font-size: 16px;
}
.close:hover,
.close:focus {
text-decoration: none;
cursor: pointer;
}
.modal-header {
display: grid;
grid-template-columns: 10fr 1fr 1fr;
grid-gap:1em;
padding: 15px 0 15px 0;
border-bottom: 1px solid #C1803E;
}
.modal-header__logo{
background-color: inherit;
align-self: start;
justify-self: start;
align-items: start;
}
.modal-header__language{
align-self: end;
justify-self: end;
}
.modal-header__language-left{
height: 23px;
top: 15px;
position: absolute;
}
.modal-header__language-right{
position: relative;
top: -3px;
}
.modal-tab{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 100%;
height: 80%;
gap: 15px;
margin: 0;
padding: 0;
}
.modal-tab__text-top{
position: relative;
font-family: "DrukCyr-Bold";  
font-size: 96px;
text-transform: uppercase;
line-height: 80%;
animation-duration: 0.6s;
animation-name: slidein-top;
}
.modal-tab__text-top-hide{
animation-duration: 1s;
animation-name: slidein-top-hide;
}
@keyframes slidein-top-hide {
from {
top: 0%;
}
to {
top: -100%;
}
}
@keyframes slidein-top {
from {
top: -100%;
}
to {
top: 0%;
}
}
.modal-tab__text-top__slower{
position: relative;
font-family: "DrukCyr-Bold";  
font-size: 96px;
text-transform: uppercase;
line-height: 80%;
animation-duration: 1s;
animation-name: slidein-top__slower;
}
@keyframes slidein-top__slower {
from {
top: -100%;
}
to {
top: 0%;
}
}
.modal-tab__text-top__slower-hide{

animation-duration: 0.6s;
animation-name: slidein-top__slower-hide;
}
@keyframes slidein-top__slower-hide {
from {
top: 0%;
}
to {
top: -100%;
}
}
.modal-tab__text-bottom{
position: relative;
font-family: "DrukCyr-Bold";  
font-size: 96px;
text-transform: uppercase;
line-height: 80%;
animation-duration: 0.6s;
animation-name: slidein-bottom;
}
@keyframes slidein-bottom {
from {
bottom: -100%;
opacity: 0;
}
to {
bottom: 0%;
opacity: 1;
}
}
.modal-tab__text-bottom-hide{
animation-duration: 1s;
animation-name: slidein-bottom-hide;
}
@keyframes slidein-bottom-hide {
from {
bottom: 0%;
opacity: 1;

}
to {
bottom: -100%;
opacity: 0;
}
}
.modal-tab__text-bottom__slower{
position: relative;
font-family: "DrukCyr-Bold";  
font-size: 96px;
text-transform: uppercase;
line-height: 80%;
animation-duration: 1s;
animation-name: slidein-bottom__slower;
}
@keyframes slidein-bottom__slower {
from {
bottom: -100%;
opacity: 0;
}
to {
bottom: 0%;
opacity: 1;
}
}
.modal-tab__text-bottom__slower-hide{
animation-duration: 0.6s;
animation-name: slidein-bottom__slower-hide;
}
@keyframes slidein-bottom__slower-hide {
from {
bottom: 0%;
opacity: 1;
}
to {bottom: -100%;
opacity: 0;

}
}
.modal-text{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
position: relative;
padding-bottom: 15px;
font-size: 14px;
animation-duration: 1.3s;
animation-name: slidein-text;
}
@keyframes slidein-text {
from {
bottom: -100%;
opacity: 0;
}
to {
bottom: 0%;
opacity: 1;
}
}
.modal-text-hide{
animation-duration: 1.3s;
animation-name: slidein-text-hide;
}
@keyframes slidein-text-hide {
from {
bottom: 0%;
opacity: 1;
}
to {
bottom: -100%;
opacity: 0;
}
}
.container {
        display: flex;
        flex-direction: column;
        justify-content: start;
        width: 100%;
        height: 92vh;
        overflow-x: hidden;
        gap: 30px;
}
.main {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 0px;
padding-bottom: 314px;
height: 100%;
min-width: 330px;
width: 100%;
white-space: nowrap;
/* display: inline-block; */
}
.main__title{
font-family: "DrukCyr-Bold";
font-weight: 700;
font-stretch: 50%;
font-size: 150px;
line-height: 137px;
text-transform: uppercase;
letter-spacing: -0.01ex;
grid-area: 1 / 1 / 2 / 3;

}
.main__num{
font-family: "DrukCyr-Bold";
font-weight: 700;
font-stretch: 50%;
font-size: 150px;
line-height: 137px;
text-transform: uppercase;
letter-spacing: -0.01ex;
grid-area: 2 / 2 / 3 / 4;

}
.about{
display: flex;
flex-direction: column;
align-items: start;
gap: 60px;
}

.about__top{
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 30px;
}
.about__top-title{
font-size: 24px;
}
.about__top-text{
font-size: 14px;
}
.video{
display: grid;
grid-template-columns: repeat(auto-fill, minmax(auto, auto));
grid-template-rows: repeat(auto-fill, minmax(auto, auto));;
grid-column-gap: 0px;
grid-row-gap: 15px;
width: 100%;
height: 100%;
}

.video__title{
        font-size: 24px;
        align-self: self-start;
        grid-area: 1 / 1 / 2 / 2;
}
.video__time{        
        justify-self: flex-end;
        font-size: 24px;
        grid-area: 1 / 2 / 2 / 3;
}
.video__date{
        display: none;
}
.video__placeholder{
        align-self: center;
        justify-self: center;
        width: 100%;
        height: 100%;
        grid-area: 2 / 1 / 3 / 3;
}

.video__link{
        grid-area: 3 / 1 / 4 / 3;
        font-size: 24px;
}
/* .video__link::after{
content: " ";
position: absolute;
width: 17px;
height: 15px;
background-image: url("/img/swoi-project-icon-mob.svg") ;
right: 15px;
} */
.about__team{
display: flex;
flex-direction: column;
gap: 47px;
}
.about__team-title{
font-size: 24px;
}
.about__team-text{
font-size: 16px;
}
.development{
display: flex;
flex-direction: column;
gap: 30px;
}
.development__top{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, auto);
        grid-column-gap: 0px;
        grid-row-gap: 30px;
        font-size: 24px;
}
.development__top-title{
        grid-area: 1 / 1 / 2 / 2;
}

.development__top-num{
        justify-self: self-end;
        grid-area: 1 / 2 / 2 / 3;
}
.development__top-text_first{
        grid-area: 2 / 1 / 3 / 3;
        font-size: 14px;
}
.development__top-text_second{
        grid-area: 3 / 1 / 4 / 3;
        font-size: 14px;
}


.development__count{
        display: none;
}
.development__bottom{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        grid-area: 4 / 1 / 5 / 3;
}
.development__bottom-title{
        font-size: 14px;
}
.development__bottom-count{
        font-size: 14px;
}


/* Стилизация аккордеон меню */
.accordion{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap:30px;
        
}
.accordion__item {
display: grid;
gap: 30px;
min-width: 330px;
width: 100%;
border-bottom: 1px solid #C1803E;

}
.accordion__header {
        align-items: start;
        max-height: 178px;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
        grid-column-gap: 0px;
        grid-row-gap: 30px;

}
.accordion__header-name{       
        font-family: "DrukCyr-Bold";
        font-weight: 700;
        font-size: 100px;
        text-transform: uppercase;
        grid-area: 1 / 1 / 2 / 2; 
}
.accordion__header-num{
        font-family: "DrukCyr-Bold";
        font-weight: 700;
        font-size: 100px;
        text-transform: uppercase;
        justify-self: self-end;
        grid-area: 1 / 2 / 2 / 3;
}
.accordion__header-position{
        align-self: self-end;
        grid-area: 2 / 1 / 3 / 2;
}



.accordion__header-button{
        justify-self: self-end;        
        align-self: self-end;
        grid-area: 2 / 2 / 3 / 3;
}

.accordion__header-button_open{
        display: none;
}

.accordion__header-button_close{
        display: none;
}

.accordion__header-button svg {
  transition: fill 0.3s ease;
}

.accordion__item.open .accordion__content {
  max-height: 500px; /* Здесь установите достаточную высоту для контента */
}

.accordion-icon {
        fill: #C1803E;
}
.accordion-icon circle {
        stroke: #C1803E;
}

.accordion-icon path {
        stroke: #172431;
}

.accordion__item.open .accordion-icon{
  fill: #172431;
  transform: rotate(180deg);
  transition: 0.4s;
}
.accordion__item.open .accordion-icon circle {
        stroke: #C1803E;
}

.accordion__item.open .accordion-icon path {
  stroke: #C1803E;
}

.accordion__content {
display: flex;
flex-direction: column;
gap: 47px;
max-height: 0;
overflow: hidden;
transition: max-height 0.4s ease-out; /* Плавное открытие */
}

.accordion__content-title{
        font-size: 24px;
}
.accordion__content-text{
        font-size: 14px;
}

.accordion__content-video_title{
        font-size: 24px;
}

.accordion__content-video{
                width: 330px;
                height: 209px;
}

.accordion__content-bottom{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;    
        height: 0px;
        margin-bottom:  15px;

}
.accordion__content-bottom_name{
        display: none;
}
.accordion__content-bottom_mail{font-size: 14px;}
.accordion__content-bottom_date{font-size: 14px;}

.group{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, auto);
        grid-column-gap: 0px;
        grid-row-gap: 30px;
}
.group__title{
        align-self: self-start;
        justify-self: self-start;
        font-size: 24px;
        font-weight: 400;
        grid-area: 1 / 1 / 2 / 4;
        padding-bottom: 30px;
}
.group__logo{
        align-self: self-start;
        justify-self: self-end;
        font-size: 24px;
        font-weight: 400;
        grid-area: 1 / 4 / 2 / 5;
}
.group__text-first{
        font-size: 14px;
        font-weight: 400;
        grid-area: 2 / 1 / 3 / 5;
}
.group__text-second{
        font-size: 14px;
        font-weight: 400;
        grid-area: 3 / 1 / 4 / 5;
}
.group__count{
        display: none;
}
.group__link{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 16px;
        font-weight: 400;
        grid-area: 4 / 1 / 5 / 5;
}
.group__link-social{
        

}

.group__link-social_facebook{
        
}
.group__link-social_linkedin{
        
}
.group__link-social_instagram{
        
}
.group__link-social_telegram{
        
}
.group__link-social_social{
        display: none;
}




/*Footer*/
.footer{
        display: grid;
        grid-template-columns: 1fr 4fr 2fr;
        grid-gap:1em;
        padding: 15px 0 15px 0;
        border-top: 1px solid #C1803E;
        font-size: 14px;
        height: 37px;
      }
      
      .footer__date{}
      
      
      
      .footer__rights{}
      .footer__image{
        display: none;
      }
      .footer__link{
        display: none;
      }
      
      .footer__studio{
        align-self: end;
        justify-self: end;
      }

@media (min-width: 1024px){
        .wrapper{
                margin:0 20px 0 20px;
        }
        .header {
                display: grid;
                grid-template-columns: 9fr 8fr 1fr;
                grid-gap:1em;
                z-index: 2;
                position: relative;
                padding: 15px 0 0;
                border-bottom: 1px solid #C1803E;
                }
                .header__menu {
                        display: flex;
                        /* width: 100px; */
                        height: 50px;
                        justify-content: flex-end;
                        gap: 7px;
                    }
                    .header__menu-open{
                      display: none;
                    }
                    .header__menu-close{
                      display: none;
                    }
                    .header__menu-language_en{
                      display: block;
                    }
                    .header__menu-language_ru{
                      display: none;
                    }
                    .header__tab{
                        display: grid;
                        grid-template-columns: 9fr 2fr 1fr;
                        grid-gap:1em;
                        align-self: start;
                        justify-self: start;
                        align-items: start;

                        }
                .header__tab-link{
                        display: block;
                }


                .main{
                        padding-bottom: 277px;

                }
                .main__title{
                        font-size: 310px;
                        line-height: 253px;

                }
                .main__num{
                        font-size: 310px;
                        line-height: 253px;
                }
                .about{

                }
                .about__top{
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        grid-template-rows: repeat(2, 1fr);
                        grid-column-gap: 0px;
                        grid-row-gap: 20px;
                }
                .about__top-title{
                        align-self: self-end;
                        grid-area: 2 / 1 / 3 / 2;
                        }
                .about__top-text_first{ 
                        
                        grid-area: 1 / 2 / 2 / 3;
                }
                .about__top-text_second{ 
                        grid-area: 2 / 2 / 3 / 3;
                }

                .video{
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        grid-template-rows: repeat(3, auto);
                        grid-column-gap: 0px;
                        grid-row-gap: 15px;
                }
                .video__title{
                        align-self: self-start;
                        grid-area: 1 / 1 / 2 / 2;
                }
                .video__placeholder{
                        width: 100%;
                        height: 100%;
                        max-width: 482px;
                        max-height: 303px;
                        grid-area: 2 / 1 / 4 / 2;
                }
                .video__link{
                        align-self: self-start;
                        grid-area: 4 / 1 / 5 / 2;
                }
                .video__time{
                        align-self: self-start;
                        justify-self: self-start;
                        grid-area: 2 / 2 / 3 / 3;
                }
                .video__date{
                        display: block;
                        font-size: 24px;
                        align-self: self-start;
                        justify-self: self-end;
                        grid-area: 3 / 2 / 4/ 3;
                }

                .about__team{
                        display: grid;
                        grid-template-columns: repeat(12, 1fr);
                        grid-template-rows: 1fr;
                        grid-column-gap: 0px;
                        grid-row-gap: 0px;
                        width: 100%;

                }
                .about__team-title{
                        align-self: self-start;
                        grid-area: 1 / 1 / 2 / 7;

                }
                .about__team-text{
                        font-size: 24px;
                        text-indent: 181px;
                        grid-area: 1 / 7 / 2 / 13;
                }

                .development__top{
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                        grid-template-rows: repeat(3, auto);
                        grid-column-gap: 0px;
                        grid-row-gap: 30px;
                        font-size: 24px;
                }
                .development__top-title{
                        grid-area: 1 / 1 / 2 / 2;
                }
                
                .development__top-num{
                        justify-self: self-end;
                        grid-area: 1 / 2 / 2 / 3;
                }
                .development__top-text_first{
                        min-width: 463px;
                        grid-area: 1 / 3 / 2 / 4;
                        font-size: 14px;
                }
                .development__top-text_second{
                        min-width: 463px;
                        grid-area: 2 / 3 / 3 / 4;
                        font-size: 14px;
                }
                
                .development__bottom{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        grid-area: 3 / 3 / 3 / 5;
                }
                .development__bottom-title{
                        font-size: 14px;
                }
                .development__bottom-count{
                        font-size: 14px;
                
                }
                /* Стилизация аккордеон меню */
.accordion{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap:30px;
        
}
.accordion__item {
display: grid;
gap: 30px;
min-width: 330px;
width: 100%;
border-bottom: 1px solid #C1803E;

}
.accordion__header {
        align-items: start;
        max-height: 178px;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(2, auto);
        grid-column-gap: 0px;
        grid-row-gap: 30px;

}
.accordion__header-name{       
        font-family: "DrukCyr-Bold";
        font-weight: 700;
        font-size: 190px;
        line-height: 152px;
        text-transform: uppercase;
        grid-area: 1 / 1 / 3 / 4;
}
.accordion__header-num{
        font-family: "DrukCyr-Bold";
        font-weight: 700;
        font-size: 190px;
        line-height: 152px;
        text-transform: uppercase;
        justify-self: self-end;
        grid-area: 1 / 6 / 3 / 7;
}
.accordion__header-position{
        align-self: self-end;
        justify-self: self-start;
        font-size: 24px;
        grid-area: 1 / 4 / 2 / 6;
}
.accordion__header-button{
        display: none;
}

.accordion__header-button_close{
        display: block;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        border: 1px #C1803E solid;
        border-radius: 25px;
        max-width: 140px;
        padding: 10px;
        max-height: 48px;
        grid-area: 2 / 4 / 3 / 6;
}

.accordion__header-button_close.open{ 
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        border: 1px #C1803E solid;
        border-radius: 25px;
        max-width: 140px;
        padding: 10px;
        max-height: 48px;
}






.accordion__content {
display: grid;
grid-template-columns: repeat(6, 1fr);
grid-template-rows: repeat(6, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
max-height: 0;
overflow: hidden;
transition: max-height 0.4s ease-out; /* Плавное открытие */
}

.accordion__item.open .accordion__content {
        max-height: 908px; /* Здесь установите достаточную высоту для контента */
}

.accordion__content-title{
        padding-bottom: 40px;
        font-size: 24px;
        grid-area: 1 / 4 / 2 / 7;
}
.accordion__content-text_first{
        padding-bottom: 40px;
        font-size: 14px;
        grid-area: 2 / 4 / 3 / 7;
}
.accordion__content-text_second{
        padding-bottom: 80px;
        font-size: 14px;
        grid-area: 3 / 4 / 4 / 7;
}
.accordion__content-video_title{
        padding-bottom: 20px;
        font-size: 24px;
        grid-area: 4 / 4 / 5 / 7;
}

.accordion__content-video{
        padding-bottom: 20px;
         grid-area: 5 / 4 / 6 / 7;
}
.accordion__content-bottom{
        grid-area: 6 / 1 / 7 / 7;
        padding-top: 20px;
}
.accordion__content-bottom_name{
        display: block;
        font-size: 24px;
}

.group{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(3, auto);
        grid-column-gap: 0px;
        grid-row-gap: 30px;
}
.group__title{
        align-self: self-start;
        justify-self: self-start;
        font-size: 32px;
        font-weight: 400;
        grid-area: 1 / 1 / 2 / 5;
        padding-bottom: 30px;
}
.group__logo{
        align-self: self-start;
        justify-self: self-end;
        font-size: 32px;
        font-weight: 400;
        grid-area: 1 / 4 / 2 / 7;
}
.group__text-first{
        align-self: self-start;
        justify-self: self-end;
        font-size: 18px;
        font-weight: 400;
        grid-area: 1 / 7 / 2 / 13;
        max-width: 482px;
        max-height: 123px;
}
.group__text-second{
        align-self: self-start;
        justify-self: self-end;
        font-size: 18px;
        font-weight: 400;
        grid-area: 2 / 7 / 3 / 13;
        max-width: 482px;
        max-height: 123px;
}
.group__count{
        display: none;
}
.group__link{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        font-size: 32px;
        font-weight: 400;
        grid-area: 3 / 1 / 4 / 13;
        padding-top: 50px;
}

.group__link-social_facebook{
        grid-area: 1 / 1 / 2 / 3;
        justify-self: self-start;
}

.group__link-social_linkedin{
        justify-self: self-start;
        grid-area: 1 / 3 / 2 / 5;
}

.group__link-social_instagram{
        grid-area: 1 / 9 / 2 / 11;
        justify-self: self-end;
}

.group__link-social_telegram{
        grid-area: 1 / 11 / 2 / 13;
        justify-self: self-end;
}

.group__link-social_social{
        display: block;
        font-size: 18px;
        justify-self: center;
        align-self: self-end;
        grid-area: 1 / 6 / 2 / 8;
}

.footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 67px;

      }
      .footer__link{
        display: block;
        display: flex;
        flex-direction: row;
        gap: 20px;
      }
      .description__socials-name{
        font-size: 32px;
        font-weight: 400;
      }
      .description__socials-name_social{
        display: block;
        align-self: self-end;
      }
      .footer__rights{
        display: none;
      }
     .footer__studio{
      display: none;
     }
     .footer__image{
      display: block;
    }




}



@media (min-width: 1600px){


        

        .main{
                padding-bottom: 198px;

        }
        .main__title{
                font-size: 310px;
                line-height: 248px;

        }
        .main__num{
                font-size: 310px;
                line-height: 248px;
        }
        .about{
                padding-bottom: 80px;
        }
        .about__top{
                display: grid;
                grid-template-columns: repeat(12, 1fr);
                grid-template-rows: auto;
                grid-column-gap: 0px;
                grid-row-gap: 0px;
        }
        .about__top-title{
                font-size: 48px;
                align-self: self-end;
                justify-self: self-start;
                grid-area: 1 / 1 / 2 / 3;
                }
        .about__top-text_first{ 
                font-size: 16px;
                font-weight: 400;
                max-width: 455px;
                max-height: 107px;
                justify-self: self-start;
                grid-area: 1 / 7 / 2 / 10;
        }
        .about__top-text_second{
                font-size: 16px;
                font-weight: 400; 
                max-width: 455px;
                max-height: 107px;
                padding-left: 40px;
                justify-self: self-start;
                grid-area: 1 / 10 / 2 / 13;
        }

        .about__team{
                display: grid;
                grid-template-columns: repeat(12, 1fr);
                grid-template-rows: 1fr;
                grid-column-gap: 0px;
                grid-row-gap: 0px;
        }
        .about__team-title{
                grid-area: 1 / 1 / 2 / 7;
                font-size: 48px;
                align-self: self-end;
                justify-self: self-start;
        }
        .about__team-text{
                align-self: self-end;
                justify-self: self-end;
                grid-area: 1 / 7 / 2 / 13;
                font-size: 24px;
                font-weight: 400;
                max-height: 69px;
                height: 100%;
        }

        .video{
                display: grid;
                grid-template-columns: repeat(12, 1fr);
                grid-template-rows: repeat(3, auto);
                grid-column-gap: 0px;
                grid-row-gap: 0px;;
                }
                
                .video__title{
                        font-size: 24px;
                        align-self: self-start;
                        grid-area: 1 / 1 / 2 / 4;
                }
                .video__time{        
                        justify-self: self-start;
                        font-size: 24px;
                        grid-area: 1 / 10 / 2 / 13;
                }
                .video__date{
                        display: block;
                        grid-area: 2 / 10 / 3 / 13;
                }
                
                .video__link{
                        grid-area: 3 / 4 / 4 / 10;
                        font-size: 24px;
                }

                .video__placeholder{
                        align-self: center;
                        justify-self: center;
                        width: 100%;
                        height: 100%;
                        max-width: 930px;
                        max-height: 583px;
                        grid-area: 1 / 4 / 3 / 10;
                        padding-bottom: 20px;
                }


                .development{
                        display: flex;
                        flex-direction: column;
                        gap: 30px;
                        }
                        .development__top{
                                display: grid;
                                grid-template-columns: repeat(12, 1fr);
                                grid-template-rows: repeat(3, auto);
                                grid-column-gap: 0px;
                                grid-row-gap: 40px;
                        }
                        .development__top-title{
                                font-size: 32px;
                                grid-area: 1 / 1 / 2 / 4;
                        }
                        
                        .development__top-num{
                                justify-self: self-end;
                                font-size: 32px;
                                grid-area: 1 / 4 / 2 / 7;
                        }
                        .development__top-text_first{
                                grid-area: 1 / 7 / 2 / 10;
                                font-size: 16px;
                                max-height: 107px;
                                max-width: 455px;
                                width: 100%;
                                height: 100%;
                                font-size: 16px;
                        }
                        .development__top-text_second{
                                grid-area: 2 / 7 / 3 / 10;
                                font-size: 16px;
                        }
                        
                        .development__count{
                                display: block;
                                font-size: 32px;
                                font-weight: 400;
                                justify-self: self-end;
                                grid-area: 1 / 10 / 2 / 13;
                        }
                        .development__bottom{
                                display: flex;
                                flex-direction: row;
                                justify-content: space-between;
                                grid-area: 3 / 7 / 4 / 10;
                        }
                        .development__bottom-title{
                                font-size: 16px;
                                
                        }
                        .development__bottom-count{
                                display: none;
                        }


                        .accordion{
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: center;
                                gap:30px;
                                
                        }
                        .accordion__item {
                        display: grid;
                        gap: 30px;
                        min-width: 330px;
                        width: 100%;
                        border-bottom: 1px solid #C1803E;
                        
                        }
                        .accordion__header {
                                align-items: start;
                                max-height: 231px;
                                height: 100%;
                                display: grid;
                                grid-template-columns: repeat(12, 1fr);
                                grid-template-rows: repeat(4, auto);
                                grid-column-gap: 0px;
                                grid-row-gap: 20px;
                        
                        }
                        .accordion__header-name{       
                                font-family: "DrukCyr-Bold";
                                font-weight: 700;
                                font-size: 310px;
                                line-height: 248px;
                                text-transform: uppercase;
                                grid-area: 1 / 1 / 5 / 4;
                        }
                        .accordion__header-num{
                                font-family: "DrukCyr-Bold";
                                font-weight: 700;
                                font-size: 310px;
                                line-height: 248px;
                                text-transform: uppercase;
                                justify-self: self-end;
                                grid-area: 1 / 10 / 5 / 13;
                        }
                        .accordion__header-position{
                                font-size: 32px;
                                font-weight: 400;
                                align-self: self-end;
                                grid-area: 1 / 7 / 2 / 10;
                        }
                        .accordion__header-button{
                                display: none;
                        }
                        
                        .accordion__header-button_open{
                                align-self: self-start;
                                justify-self: self-start;
                                display: flex;
                                border: 1px #C1803E solid;
                                border-radius: 25px;
                                height: 46px;
                                width: 140px;
                                font-size: 18px;
                                align-items: center;
                                justify-content: center;
                                grid-area: 2 / 7 / 3 / 10;
                        }

                        
                        .accordion__header-button_close{
                                display: none;

                        }
                        
                        .accordion__content {
                        display: grid;
                        grid-template-columns: repeat(6, 1fr);
                        grid-template-rows: repeat(6, 1fr);
                        grid-column-gap: 0px;
                        grid-row-gap: 0px;
                        max-height: 0;
                        overflow: hidden;
                        transition: max-height 0.4s ease-out; /* Плавное открытие */
                        }
                        
                        .accordion__item.open .accordion__content {
                                max-height: 908px; /* Здесь установите достаточную высоту для контента */
                        }
                        
                        .accordion__content-title{
                                padding-bottom: 40px;
                                font-size: 24px;
                                grid-area: 1 / 4 / 2 / 7;
                        }
                        .accordion__content-text_first{
                                padding-bottom: 40px;
                                font-size: 14px;
                                grid-area: 2 / 4 / 3 / 7;
                        }
                        .accordion__content-text_second{
                                padding-bottom: 80px;
                                font-size: 14px;
                                grid-area: 3 / 4 / 4 / 7;
                        }
                        .accordion__content-video_title{
                                padding-bottom: 20px;
                                font-size: 24px;
                                grid-area: 4 / 4 / 5 / 7;
                        }
                        
                        .accordion__content-video{
                                padding-bottom: 20px;
                                 grid-area: 5 / 4 / 6 / 7;
                        }
                        .accordion__content-bottom{
                                grid-area: 6 / 1 / 7 / 7;
                                padding-top: 20px;
                        }
                        .accordion__content-bottom_name{
                                display: block;
                                font-size: 24px;
                        }


                        
                        .group{
                                display: grid;
                                grid-template-columns: repeat(12, 1fr);
                                grid-template-rows: repeat(3, auto);
                                grid-column-gap: 20px;
                                grid-row-gap: 20px;
                        }
                        .group__title{
                                align-self: self-start;
                                justify-self: self-start;
                                font-size: 32px;
                                font-weight: 400;
                                grid-area: 1 / 1 / 2 / 4;
                                padding-bottom: 30px;
                        }
                        .group__logo{
                                align-self: self-start;
                                justify-self: self-end;
                                font-size: 32px;
                                font-weight: 400;
                                grid-area: 1 / 4 / 2 / 7;
                        }
                        .group__text-first{
                                align-self: self-start;
                                justify-self: self-start;
                                font-size: 16px;
                                font-weight: 400;
                                grid-area: 1 / 7 / 2 / 10;
                                max-width: 455px;
                                max-height: 107px;
                        }
                        .group__text-second{
                                align-self: self-start;
                                justify-self: self-start;
                                font-size: 16px;
                                font-weight: 400;
                                grid-area: 2 / 7 / 3 / 10;
                                max-width: 455px;
                                max-height: 107px;
                        }
                        .group__count{
                                display: block;
                                font-size: 32px;
                                font-weight: 400;
                                align-self: self-start;
                                justify-self: self-end;
                                grid-area: 1 / 10 / 2 / 13;
                        }
                        .group__link{
                                display: grid;
                                grid-template-columns: repeat(12, 1fr);
                                grid-template-rows: auto;
                                grid-column-gap: 0px;
                                grid-row-gap: 0px;
                                font-size: 32px;
                                font-weight: 400;
                                grid-area: 3 / 1 / 4 / 13;
                                padding-top: 50px;
                        }

                        .group__link-social_facebook{
                                grid-area: 1 / 1 / 2 / 3;
                                justify-self: self-start;
                        }

                        .group__link-social_linkedin{
                                justify-self: self-start;
                                grid-area: 1 / 3 / 2 / 5;
                        }

                        .group__link-social_instagram{
                                grid-area: 1 / 9 / 2 / 11;
                                justify-self: self-end;
                        }

                        .group__link-social_telegram{
                                grid-area: 1 / 11 / 2 / 13;
                                justify-self: self-end;
                        }

                        .group__link-social_social{
                                display: block;
                                font-size: 18px;
                                justify-self: center;
                                align-self: self-end;
                                grid-area: 1 / 6 / 2 / 8;
                        }
}


