:root {
        --bgColor: #172431;
        --fontColor: #C1803E;
      }
      
      .page-contacts {
        --bgColor: #172431;
        --fontColor: #C1803E;
      }
      .page-projects {
        --bgColor: #172431;
        --fontColor: #C1803E;
      }
.container {
        display: flex;
        flex-direction: column;
        justify-content: start;
        width: 100%;
        height: calc(100vh - 67px);
        overflow-x: hidden;
        
}
.container::-webkit-scrollbar {
        width: 0;
      }
.main {
display: grid;
grid-template-columns: repeat(6, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 15px;
padding-bottom: 314px;
height: 100%;
min-width: 330px;
width: 100%;
white-space: nowrap;
/* display: inline-block; */
}
.main__title,
.main__num {
  display: inline-block;
  margin-right: 50px; /* Adjust this value to control the spacing between elements */
  animation: slide linear infinite;
  animation-duration: 15s; /* Adjust this value to control the animation speed */
  animation-timing-function: linear;
}
.main__title{
font-family: "DrukCyr-Bold";
font-weight: 700;
font-stretch: 50%;
font-size: 150px;
line-height: 137px;
text-transform: uppercase;
letter-spacing: -0.01ex;
grid-area: 1 / 1 / 2 / 7;

}
.main__num{
font-family: "DrukCyr-Bold";
font-weight: 700;
font-stretch: 50%;
font-size: 150px;
line-height: 137px;
text-transform: uppercase;
letter-spacing: -0.01ex;
grid-area: 2 / 4 / 3 / 7;

}
.about__team-text{
        font-size: 16px;
    text-indent: 24px;
}
.about{
display: flex;
flex-direction: column;
align-items: start;
gap: 60px;
}

.about__top{
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 30px;
}
.about__top-title{
font-size: 24px;
}
.about__top-text{
font-size: 14px;
}
.video{
display: grid;
grid-template-columns: repeat(auto-fill, minmax(auto, auto));
grid-template-rows: repeat(auto-fill, minmax(auto, auto));;
grid-column-gap: 15px;
grid-row-gap: 15px;
width: 100%;
height: 100%;
}

.video__title{
        font-size: 24px;
        align-self: self-start;
        grid-area: 1 / 1 / 2 / 2;
}
.video__time{        
        justify-self: flex-end;
        font-size: 24px;
        grid-area: 1 / 2 / 2 / 3;
}
.video__date{
        display: none;
}
.video__placeholder{
        align-self: center;
        justify-self: center;
        width: 100%;
        height: auto;
        grid-area: 2 / 1 / 3 / 3;
}

.video__link{
        min-width: 330px ;
        grid-area: 3 / 1 / 4 / 3;
        font-size: 24px;
}

.video__link::after {
        content: "";
        display: inline-block;
        width: 14px;
        height: 14px;
        background-image: url("/img/team-arrow.png");
        background-size: cover;
        margin-left: 133px;
}

.about__team{
display: flex;
flex-direction: column;
gap: 30px;
}
.about__team-title{
font-size: 24px;
}
.about__team-text{
font-size: 16px;
}
.development{
display: flex;
flex-direction: column;
padding-top: 60px;
}
.development__top{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(4, auto);
        grid-column-gap: 15px;
        grid-row-gap: 30px;
        font-size: 24px;
}
.development__top-title{
        grid-area: 1 / 1 / 2 / 4; 
}

.development__top-num{
        justify-self: self-end;
        grid-area: 1 / 6 / 2 / 7;
}
.development__top-text_first{
        grid-area: 2 / 1 / 3 / 7;
        font-size: 14px;
}
.development__top-text_second{
        grid-area: 3 / 1 / 4 / 7;
        font-size: 14px;
}


.development__count{
        display: none;
}
.development__bottom{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 30px;
        grid-area: 4 / 1 / 5 / 7; 
        padding-bottom: 15px;
        border-bottom: 1px var(--fontColor) solid;
}
.development__bottom-title{
        font-size: 14px;
}
.development__bottom-count{
        font-size: 14px;
}


/* Стилизация аккордеон меню */
.accordion{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap:30px;
        
}
.accordion__item {
display: grid;
gap: 15px;
min-width: 330px;
width: 100%;
border-bottom: 1px solid var(--fontColor);

}
.accordion__header {
        align-items: start;
        max-height: 178px;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(2, auto);
        grid-column-gap: 15px;
        padding-top: 15px;
        grid-row-gap: 30px;

}
.accordion__header-name{       
        font-family: "DrukCyr-Bold";
        font-weight: 700;
        font-size: 100px;
        line-height: 76px;
        text-transform: uppercase;
        grid-area: 1 / 1 / 2 / 4;
}
.accordion__header-num{
        font-family: "DrukCyr-Bold";
        font-weight: 700;
        font-size: 100px;
        line-height: 76px;
        text-transform: uppercase;
        justify-self: self-end;
        grid-area: 1 / 6 / 2 / 7;
}
.accordion__header-position{
        align-self: self-end;
        grid-area: 2 / 1 / 3 / 4;
}



.accordion__header-button{
        justify-self: self-end;        
        align-self: self-end;
        grid-area: 2 / 6 / 3 / 7; 
        cursor: pointer;
}

.accordion__header-button_open{
        display: none;
}

.accordion__header-button_close{
        display: none;
}

.accordion__header-button svg {
  transition: fill 0.3s ease;
}

.accordion__item.open .accordion__content {
  max-height: 500px; /* Здесь установите достаточную высоту для контента */
}

.accordion-icon {
        fill: var(--fontColor);
}
.accordion-icon circle {
        stroke: var(--fontColor);
}

.accordion-icon path {
        stroke: var(--bgColor);
}

.accordion__item.open .accordion-icon{
  fill: var(--bgColor);
  transform: rotate(180deg);
  transition: 0.4s;
}
.accordion__item.open .accordion-icon circle {
        stroke: var(--fontColor);
}

.accordion__item.open .accordion-icon path {
  stroke: var(--fontColor);
}

.accordion__content {
display: flex;
flex-direction: column;
gap: 47px;
max-height: 0;
overflow: hidden;
transition: max-height 0.4s ease-out; /* Плавное открытие */
}

.accordion__content-title{
        font-size: 24px;
}
.accordion__content-text{
        font-size: 14px;
}

.accordion__content-video_title{
        font-size: 24px;
}

.accordion__content-video{
                width: 330px;
                height: 209px;
}

.accordion__content-bottom{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;    
        height: 0px;
        margin-bottom:  15px;

}
.accordion__content-bottom_name{
        display: none;
}
.accordion__content-bottom_mail{font-size: 14px;}
.accordion__content-bottom_date{font-size: 14px;}

.group{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(4, auto);
        grid-column-gap: 15px;
        grid-row-gap: 30px;
        padding: 15px 0 15px 0;
}
.group__title{
        align-self: self-start;
        justify-self: self-start;
        font-size: 24px;
        font-weight: 400;
        grid-area: 1 / 1 / 2 / 6;
        padding-bottom: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%; /* 24px */
        letter-spacing: -0.96px;
}
.group__logo{
        align-self: self-start;
        justify-self: self-end;
        font-size: 24px;
        font-weight: 400;
        grid-area: 1 / 6 / 2 / 7;
}
.group__text-first{
        font-size: 14px;
        font-weight: 400;
        grid-area: 2 / 1 / 3 / 7;
}
.group__text-second{
        font-size: 14px;
        font-weight: 400;
        grid-area: 3 / 1 / 4 / 7;
}
.group__year{
        display: none;
}

.group__count{
        display: none;
}
.group__link{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 16px;
        font-weight: 400;
        grid-area: 4 / 1 / 5 / 7;
}
.group__link-social{
        

}

.group__link-social_facebook{
        
}
.group__link-social_linkedin{
        
}
.group__link-social_instagram{
        
}
.group__link-social_telegram{
        
}
.group__link-social_social{
        display: none;
}



@media (min-width: 1024px){
                .container{
                        height: calc(100vh - 86px);
                }
                .main{
                        padding-bottom: 277px;

                }
                .main__title{
                        font-size: 310px;
                        line-height: 253px;

                }
                .main__num{
                        font-size: 310px;
                        line-height: 253px;
                }
                .about{

                }
                .about__top{
                        display: grid;
                        grid-template-columns: repeat(6, 1fr);
                        grid-template-rows: repeat(2, 1fr);
                        width: 100%;
                        grid-column-gap: 20px;
                        grid-row-gap: 20px;
                }
                .about__top-title{
                        font-size: 48px;
                        font-weight: 400;
                        align-self: self-end;
                        grid-area: 2 / 1 / 3 / 4;
                        }
                .about__top-text_first{ 
                        grid-area: 1 / 4 / 2 / 7;
                }
                .about__top-text_second{ 
                        grid-area: 2 / 4 / 3 / 7;
                }

                .video{
                        display: grid;
                        grid-template-columns: repeat(6, 1fr);
                        grid-template-rows: repeat(3, auto);
                        grid-column-gap: 20px;
                        grid-row-gap: 20px;
                }
                .video__title{
                        align-self: self-start;
                        grid-area: 1 / 1 / 2 / 2;
                }
                .video__placeholder{
                        width: 100%;
                        height: auto;
                        justify-self: self-start;
                        grid-area: 2 / 1 / 4 / 4;
                }
                .video__link{
                        min-width: 482px;
                        align-self: self-start;
                        grid-area: 4 / 1 / 5 / 4;
                }

                .video__link::after {
                        content: "";
                        display: inline-block;
                        width: 14px;
                        height: 14px;
                        background-image: url("/img/team-arrow.png");
                        background-size: cover;
                        margin-left: 286px;
                }

                .video__time{
                        align-self: self-start;
                        justify-self: self-start;
                        grid-area: 2 / 4 / 3 / 5;
                }
                .video__date{
                        display: block;
                        font-size: 24px;
                        align-self: self-start;
                        justify-self: self-end;
                        grid-area: 3 / 6 / 4 / 7;
                }

                .about__team{
                        display: grid;
                        grid-template-columns: repeat(6, 1fr);
                        grid-template-rows: 1fr;
                        grid-column-gap: 20px;
                        grid-row-gap: 20px;
                        width: 100%;

                }
                .about__team-title{
                        align-self: self-start;
                        grid-area: 1 / 1 / 2 / 4;

                }
                .about__team-text{
                        font-size: 24px;
                        text-indent: 181px;
                        grid-area: 1 / 4 / 2 / 7;
                }

                .development__top{
                        display: grid;
                        grid-template-columns: repeat(6, 1fr);
                        grid-template-rows: repeat(3, auto);
                        grid-column-gap: 20px;
                        grid-row-gap: 20px;
                        font-size: 24px;
                }
                .development__top-title{
                        grid-area: 1 / 1 / 2 / 2;
                }
                
                .development__top-num{
                        justify-self: self-end;
                        grid-area: 1 / 3 / 2 / 4;
                }
                .development__top-text_first{
                        max-height: 123px;
                        min-width: 463px;
                        grid-area: 1 / 4 / 2 / 7;
                        font-size: 18px;
                }
                .development__top-text_second{
                        max-height: 123px;
                        min-width: 463px;
                        grid-area: 2 / 4 / 3 / 7;
                        font-size: 18px;
                }
                
                .development__bottom{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        grid-area: 3 / 4 / 4 / 7;
                        border-bottom: none;
                }
                .development__bottom-title{
                        font-size: 14px;
                }
                .development__bottom-count{
                        font-size: 14px;
                
                }
                /* Стилизация аккордеон меню */
.accordion{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap:30px;
        
}
.accordion__item {
display: grid;
gap: 30px;
min-width: 330px;
width: 100%;
border-bottom: 1px solid var(--fontColor);

}
.accordion__header {
        align-items: start;
        max-height: 178px;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(2, auto);
        grid-column-gap: 20px;
        grid-row-gap: 80px;

}
.accordion__header-name{       
        font-family: "DrukCyr-Bold";
        font-weight: 700;
        font-size: 190px;
        line-height: 152px;
        text-transform: uppercase;
        grid-area: 1 / 1 / 3 / 4;
}
.accordion__header-num{
        font-family: "DrukCyr-Bold";
        font-weight: 700;
        font-size: 190px;
        line-height: 152px;
        text-transform: uppercase;
        justify-self: self-end;
        grid-area: 1 / 6 / 3 / 7;
}
.accordion__header-position{
        align-self: self-end;
        justify-self: self-start;
        font-size: 24px;
        grid-area: 1 / 4 / 2 / 6;
}
.accordion__header-button{
        display: none;
}

.accordion__header-button_open{
        display: block;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        border: 1px var(--fontColor) solid;
        border-radius: 25px;
        max-width: 140px;
        padding: 10px;
        max-height: 48px;
        grid-area: 2 / 4 / 3 / 6;
        cursor: pointer;

}

.accordion__header-button_open.open{ 
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        border: 1px var(--fontColor) solid;
        border-radius: 25px;
        max-width: 140px;
        padding: 10px;
        max-height: 48px;
        cursor: pointer;

}

.accordion__content {
display: grid;
grid-template-columns: repeat(6, 1fr);
grid-template-rows: repeat(6, 1fr);
grid-column-gap: 20px;
grid-row-gap: 0px;
max-height: 0;
overflow: hidden;
transition: max-height 0.4s ease-out; /* Плавное открытие */
padding: 0px 0 0px 0;
}

.accordion__item.open .accordion__content {
        max-height: 908px; /* Здесь установите достаточную высоту для контента */
}

.accordion__content-title{
        padding-bottom: 40px;
        font-size: 24px;
        grid-area: 1 / 4 / 2 / 7;
}
.accordion__content-text_first{
        padding-bottom: 40px;
        font-size: 14px;
        grid-area: 2 / 4 / 3 / 7;
}
.accordion__content-text_second{
        padding-bottom: 80px;
        font-size: 14px;
        grid-area: 3 / 4 / 4 / 7;
}
.accordion__content-video_title{
        padding-bottom: 20px;
        font-size: 24px;
        grid-area: 4 / 4 / 5 / 7;
}

.accordion__content-video{
        padding-bottom: 20px;
         grid-area: 5 / 4 / 6 / 7;
}
.accordion__content-bottom{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 0px;
        grid-area: 6 / 1 / 7 / 7;
        padding-top: 20px;
}
.accordion__content-bottom_name{
        display: block;
        font-size: 24px;
        grid-area: 1 / 1 / 2 / 3;
}
.accordion__content-bottom_mail{
        display: block;
        grid-area: 1 / 4 / 2 / 5;
}
.accordion__content-bottom_date{
        display: block;
        justify-self: self-end;
        grid-area: 1 / 6 / 2 / 7;
}

.group{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(3, auto);
        grid-column-gap: 20px;
        grid-row-gap: 30px;
        padding: 20px 0 20px 0;
}
.group__title{
        align-self: self-start;
        justify-self: self-start;
        font-size: 32px;
        font-weight: 400;
        grid-area: 1 / 1 / 2 / 3;
        padding-bottom: 30px;
}
.group__logo{
        align-self: self-start;
        justify-self: self-end;
        font-size: 32px;
        font-weight: 400;
        grid-area: 1 / 3 / 2 / 4;
}
.group__text-first{
        align-self: self-start;
        justify-self: self-end;
        font-size: 18px;
        font-weight: 400;
        grid-area: 1 / 4 / 2 / 7;
        max-width: 482px;
        max-height: 123px;
}
.group__text-second{
        align-self: self-start;
        justify-self: self-end;
        font-size: 18px;
        font-weight: 400;
        grid-area: 2 / 4 / 3 / 7;
        max-width: 482px;
        max-height: 123px;
}
.group__year{
        display: none;
}
.group__count{
        display: none;
}
.group__link{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto;
        grid-column-gap: 20px;
        grid-row-gap: 0px;
        font-size: 32px;
        font-weight: 400;
        grid-area: 3 / 1 / 4 / 7;
        padding-top: 50px;
}

.group__link-social_facebook{
        grid-area: 1 / 1 / 2 / 3;
        justify-self: self-start;
}

.group__link-social_linkedin{
        justify-self: self-start;
        grid-area: 1 / 3 / 2 / 5;
}

.group__link-social_instagram{
        grid-area: 1 / 9 / 2 / 11;
        justify-self: self-end;
}

.group__link-social_telegram{
        grid-area: 1 / 11 / 2 / 13;
        justify-self: self-end;
}

.group__link-social_social{
        display: block;
        font-size: 18px;
        justify-self: center;
        align-self: self-end;
        grid-area: 1 / 6 / 2 / 8;
}
}



@media (min-width: 1600px){
        .main{
                padding-bottom: 198px;

        }
        .main__title{
                font-size: 310px;
                line-height: 248px;

        }
        .main__num{
                font-size: 310px;
                line-height: 248px;
        }
        .about{
                padding-bottom: 80px;
        }
        .about__top{
                display: grid;
                grid-template-columns: repeat(12, 1fr);
                grid-template-rows: auto;
                grid-column-gap: 20px;
                grid-row-gap: 20px;
        }
        .about__top-title{
                font-size: 48px;
                align-self: self-end;
                justify-self: self-start;
                grid-area: 1 / 1 / 2 / 3;
                }
        .about__top-text_first{ 
                font-size: 16px;
                font-weight: 400;
                max-width: 455px;
                max-height: 107px;
                justify-self: self-start;
                grid-area: 1 / 7 / 2 / 10;
        }
        .about__top-text_second{
                font-size: 16px;
                font-weight: 400; 
                max-width: 455px;
                max-height: 107px;
                justify-self: self-start;
                grid-area: 1 / 10 / 2 / 13;
        }

        .about__team{
                display: grid;
                grid-template-columns: repeat(12, 1fr);
                grid-template-rows: 1fr;
                grid-column-gap: 20px;
                grid-row-gap: 0px;
        }
        .about__team-title{
                grid-area: 1 / 1 / 2 / 7;
                font-size: 48px;
                align-self: self-end;
                justify-self: self-start;
        }
        .about__team-text{
                align-self: self-end;
                justify-self: self-end;
                grid-area: 1 / 7 / 2 / 13;
                font-size: 24px;
                font-weight: 400;
                max-height: 69px;
                height: 100%;
        }

        .video{
                display: grid;
                grid-template-columns: repeat(12, 1fr);
                grid-template-rows: repeat(3, auto);
                grid-column-gap: 20px;
                grid-row-gap: 0px;;
                }
                
                .video__title{
                        font-size: 24px;
                        align-self: self-start;
                        grid-area: 1 / 1 / 2 / 4;
                }
                .video__time{        
                        justify-self: self-start;
                        font-size: 24px;
                        grid-area: 1 / 10 / 2 / 13;
                }
                .video__date{
                        display: block;
                        grid-area: 2 / 10 / 3 / 13;
                }
                
                .video__link{
                        min-width: 930px;
                        grid-area: 3 / 4 / 4 / 10;
                        font-size: 24px;
                }
                .video__link::after {
                        content: "";
                        display: inline-block;
                        width: 14px;
                        height: 14px;
                        background-image: url("/img/team-arrow.png");
                        background-size: cover;
                        margin-left: 734px;
                }
                .video__placeholder{
                        align-self: center;
                        justify-self: center;
                        width: 100%;
                        height: auto;
                        grid-area: 1 / 4 / 3 / 10;
                        padding-bottom: 20px;
                }


                .development{
                        display: flex;
                        flex-direction: column;
                        gap: 30px;
                        }
                        .development__top{
                                display: grid;
                                grid-template-columns: repeat(12, 1fr);
                                grid-template-rows: repeat(3, auto);
                                grid-column-gap: 20px;
                                grid-row-gap: 40px;
                        }
                        .development__top-title{
                                font-size: 32px;
                                grid-area: 1 / 1 / 2 / 4;
                        }
                        
                        .development__top-num{
                                justify-self: self-end;
                                font-size: 32px;
                                grid-area: 1 / 4 / 2 / 7;
                        }
                        .development__top-text_first{
                                grid-area: 1 / 7 / 2 / 10;
                                font-size: 16px;
                                max-height: 107px;
                                max-width: 455px;
                                width: 100%;
                                height: 100%;
                                font-size: 16px;
                        }
                        .development__top-text_second{
                                grid-area: 2 / 7 / 3 / 10;
                                font-size: 16px;
                        }
                        
                        .development__count{
                                display: block;
                                font-size: 32px;
                                font-weight: 400;
                                justify-self: self-end;
                                grid-area: 1 / 10 / 2 / 13;
                        }
                        .development__bottom{
                                display: flex;
                                flex-direction: row;
                                justify-content: space-between;
                                grid-area: 3 / 7 / 4 / 10;
                        }
                        .development__bottom-title{
                                font-size: 16px;
                                
                        }
                        .development__bottom-count{
                                display: none;
                        }


                        .accordion{
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: center;
                                gap:30px;
                                
                        }
                        .accordion__item {
                        display: grid;
                        gap: 30px;
                        min-width: 330px;
                        width: 100%;
                        border-bottom: 1px solid var(--fontColor);
                        
                        }
                        .accordion__header {
                                align-items: start;
                                max-height: 268px;
                                height: 100%;
                                display: grid;
                                grid-template-columns: repeat(12, 1fr);
                                grid-template-rows: repeat(4, auto);
                                grid-column-gap: 20px;
                                grid-row-gap: 20px;
                        
                        }
                        .accordion__header-name{       
                                font-family: "DrukCyr-Bold";
                                font-weight: 700;
                                font-size: 310px;
                                line-height: 248px;
                                text-transform: uppercase;
                                grid-area: 1 / 1 / 5 / 4;
                        }
                        .accordion__header-num{
                                font-family: "DrukCyr-Bold";
                                font-weight: 700;
                                font-size: 310px;
                                line-height: 248px;
                                text-transform: uppercase;
                                justify-self: self-end;
                                grid-area: 1 / 10 / 5 / 13;
                        }
                        .accordion__header-position{
                                font-size: 32px;
                                font-weight: 400;
                                align-self: self-end;
                                grid-area: 1 / 7 / 2 / 10;
                        }
                        .accordion__header-button{
                                display: none;
                        }
                        
                        .accordion__header-button_open{
                                align-self: self-start;
                                justify-self: self-start;
                                display: flex;
                                border: 1px var(--fontColor) solid;
                                border-radius: 25px;
                                height: 46px;
                                width: 140px;
                                font-size: 18px;
                                align-items: center;
                                justify-content: center;
                                grid-area: 2 / 7 / 3 / 10;
                                cursor: pointer;

                        }

                        
                        .accordion__header-button_close{
                                display: none;

                        }
                        
                        .accordion__content {
                        display: grid;
                        grid-template-columns: repeat(12, 1fr);
                        grid-template-rows: repeat(5, 1fr);
                        grid-column-gap: 20px;
                        grid-row-gap: 0px;
                        max-height: 0;
                        overflow: hidden;
                        transition: max-height 0.4s ease-out; /* Плавное открытие */
                        }
                        
                        .accordion__item.open .accordion__content {
                                max-height: 908px; /* Здесь установите достаточную высоту для контента */
                        }
                        
                        .accordion__content-title{
                                padding-bottom: 40px;
                                font-size: 24px;
                                grid-area: 1 / 7 / 2 / 10;
                        }
                        .accordion__content-text_first{
                                padding-bottom: 40px;
                                font-size: 14px;
                                grid-area: 2 / 7 / 3 / 10;
                        }
                        .accordion__content-text_second{
                                padding-bottom: 80px;
                                font-size: 14px;
                                grid-area: 2 / 10 / 3 / 13;
                        }
                        .accordion__content-video_title{
                                padding-bottom: 20px;
                                font-size: 24px;
                                grid-area: 3 / 7 / 4 / 10;
                        }
                        
                        .accordion__content-video{
                                padding-bottom: 20px;
                                grid-area: 4 / 7 / 5 / 10;
                        }
                        .accordion__content-bottom{
                                grid-area: 5 / 1 / 6 / 13; 
                                padding-bottom: 20px;
                        }
                        .accordion__content-bottom_name{
                                display: block;
                                font-size: 24px;
                        }


                        
                        .group{
                                display: grid;
                                grid-template-columns: repeat(12, 1fr);
                                grid-template-rows: repeat(3, auto);
                                grid-column-gap: 20px;
                                grid-row-gap: 20px;
                        }
                        .group__title{
                                align-self: self-start;
                                justify-self: self-start;
                                font-size: 32px;
                                font-weight: 400;
                                grid-area: 1 / 1 / 2 / 4;
                                padding-bottom: 30px;
                        }
                        .group__logo{
                                align-self: self-start;
                                justify-self: self-end;
                                font-size: 32px;
                                font-weight: 400;
                                grid-area: 1 / 4 / 2 / 7;
                        }
                        .group__text-first{
                                align-self: self-start;
                                justify-self: self-start;
                                font-size: 16px;
                                font-weight: 400;
                                grid-area: 1 / 7 / 2 / 10;
                                max-width: 455px;
                                max-height: 107px;
                        }
                        .group__text-second{
                                align-self: self-start;
                                justify-self: self-start;
                                font-size: 16px;
                                font-weight: 400;
                                grid-area: 2 / 7 / 3 / 10;
                                max-width: 455px;
                                max-height: 107px;
                        }
                        .group__count{
                                display: block;
                                font-size: 32px;
                                font-weight: 400;
                                align-self: self-start;
                                justify-self: self-end;
                                grid-area: 1 / 10 / 2 / 13;
                        }
                        .group__link{
                                display: grid;
                                grid-template-columns: repeat(12, 1fr);
                                grid-template-rows: auto;
                                grid-column-gap: 20px;
                                grid-row-gap: 0px;
                                font-size: 32px;
                                font-weight: 400;
                                grid-area: 3 / 1 / 4 / 13;
                                padding-top: 50px;
                        }

                        .group__link-social_facebook{
                                grid-area: 1 / 1 / 2 / 3;
                                justify-self: self-start;
                        }

                        .group__link-social_linkedin{
                                justify-self: self-start;
                                grid-area: 1 / 3 / 2 / 5;
                        }

                        .group__link-social_instagram{
                                grid-area: 1 / 9 / 2 / 11;
                                justify-self: self-end;
                        }

                        .group__link-social_telegram{
                                grid-area: 1 / 11 / 2 / 13;
                                justify-self: self-end;
                        }

                        .group__link-social_social{
                                display: block;
                                font-size: 18px;
                                justify-self: center;
                                align-self: self-end;
                                grid-area: 1 / 6 / 2 / 8;
                        }
}

@media (min-width: 2400px){
        .main{
                
                padding-bottom: 310px;

        }
        .main__title{
                font-size: 570px;
                font-weight: 700;
                line-height: 456px; /* 456px */
                letter-spacing: -11.4px;

        }
        .main__num{
                font-size: 570px;
                line-height: 456px; /* 456px */
                letter-spacing: -11.4px;
                font-weight: 700;

        }
        .about{
                padding-bottom: 120px;
        }
        .about__top{
                display: grid;
                grid-template-columns: repeat(12, 1fr);
                grid-template-rows: auto;
                grid-column-gap: 20px;
                grid-row-gap: 20px;
        }
        .about__top-title{
                font-size: 90px;
                align-self: self-end;
                justify-self: self-start;
                grid-area: 1 / 1 / 2 / 4;
                }
        .about__top-text_first{ 
                font-size: 24px;
                font-weight: 400;
                max-width: 835px;
                max-height: 107px;
                justify-self: self-start;
                grid-area: 1 / 7 / 2 / 10;
        }
        .about__top-text_second{
                font-size: 24px;
                font-weight: 400; 
                max-width: 835px;
                max-height: 107px;
                justify-self: self-start;
                grid-area: 1 / 10 / 2 / 13;
        }

        .about__team{
                display: grid;
                grid-template-columns: repeat(12, 1fr);
                grid-template-rows: 1fr;
                grid-column-gap: 20px;
                grid-row-gap: 0px;
        }
        .about__team-title{
                grid-area: 1 / 1 / 2 / 7;
                font-size: 90px;
                align-self: self-end;
                justify-self: self-start;
        }
        .about__team-text{
                align-self: self-end;
                justify-self: self-end;
                grid-area: 1 / 7 / 2 / 13;
                font-size: 36px;
                font-weight: 400;
                letter-spacing: -1.44px;
                max-height: 69px;
                height: 100%;
        }

        .video{
                display: grid;
                grid-template-columns: repeat(12, 1fr);
                grid-template-rows: repeat(3, auto);
                grid-column-gap: 20px;
                grid-row-gap: 0px;;
                }
                
                .video__title{
                        font-size: 48px;
                        align-self: self-start;
                        grid-area: 1 / 1 / 2 / 4;
                }
                .video__time{        
                        justify-self: self-start;
                        font-size: 48px;
                        grid-area: 1 / 10 / 2 / 13;
                }
                .video__date{
                        display: block;
                        font-size: 48px;
                        grid-area: 2 / 10 / 3 / 13;
                }
                
                .video__link{
                        min-width: 1690px;
                        grid-area: 3 / 4 / 4 / 10;
                        font-size: 48px;
                }
                .video__link::after {
                        content: "";
                        display: inline-block;
                        width: 14px;
                        height: 14px;
                        background-image: url("/img/team-arrow.png");
                        background-size: cover;
                        margin-left: 1309px;
                }
                .video__placeholder{
                        align-self: center;
                        justify-self: center;
                        width: 100%;
                        height: auto;
                        grid-area: 1 / 4 / 3 / 10;
                        padding-bottom: 20px;
                }


                .development{
                        display: flex;
                        flex-direction: column;
                        gap: 30px;
                        }
                        .development__top{
                                display: grid;
                                grid-template-columns: repeat(12, 1fr);
                                grid-template-rows: repeat(3, auto);
                                grid-column-gap: 20px;
                                grid-row-gap: 40px;
                        }
                        .development__top-title{
                                font-size: 48px;
                                grid-area: 1 / 1 / 2 / 4;
                        }
                        
                        .development__top-num{
                                justify-self: self-end;
                                font-size: 48px;
                                grid-area: 1 / 4 / 2 / 7;
                        }
                        .development__top-text_first{
                                grid-area: 1 / 7 / 2 / 10;
                                font-size: 24px;
                                max-height: 159px;
                                max-width: 835px;
                                width: 100%;
                                height: 100%;
                                font-size: 16px;
                        }
                        .development__top-text_second{
                                grid-area: 2 / 7 / 3 / 10;
                                max-height: 159px;
                                max-width: 835px;
                                font-size: 24px;
                        }
                        
                        .development__count{
                                display: block;
                                font-size: 48px;
                                font-weight: 400;
                                justify-self: self-end;
                                grid-area: 1 / 10 / 2 / 13;
                        }
                        .development__bottom{
                                display: flex;
                                flex-direction: row;
                                justify-content: space-between;
                                grid-area: 3 / 7 / 4 / 10;
                        }
                        .development__bottom-title{
                                font-size: 24px;
                                
                        }
                        .development__bottom-count{
                                display: none;
                        }


                        .accordion{
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: center;
                                gap:30px;
                                
                        }
                        .accordion__item {
                        display: grid;
                        gap: 30px;
                        min-width: 330px;
                        width: 100%;
                        border-bottom: 1px solid #C1803E;
                        
                        }
                        .accordion__header {
                                align-items: start;
                                max-height: 485px;
                                height: 100%;
                                display: grid;
                                grid-template-columns: repeat(12, 1fr);
                                grid-template-rows: repeat(4, auto);
                                grid-column-gap: 20px;
                                grid-row-gap: 20px;
                        
                        }
                        .accordion__header-name{       
                                font-family: "DrukCyr-Bold";
                                font-size: 570px;
                                font-style: normal;
                                font-weight: 700;
                                line-height: 80%; /* 456px */
                                letter-spacing: -11.4px;
                                text-transform: uppercase;
                                grid-area: 1 / 1 / 5 / 4;
                        }
                        .accordion__header-num{
                                font-family: "DrukCyr-Bold";
                                font-size: 570px;
                                font-style: normal;
                                font-weight: 700;
                                line-height: 80%; /* 456px */
                                letter-spacing: -11.4px;
                                text-transform: uppercase;
                                justify-self: self-end;
                                grid-area: 1 / 10 / 5 / 13;
                        }
                        .accordion__header-position{
                                font-size: 48px;
                                font-weight: 400;
                                align-self: self-end;
                                grid-area: 1 / 7 / 2 / 10;
                        }
                        .accordion__header-button{
                                display: none;
                        }
                        
                        .accordion__header-button_open{
                                align-self: self-start;
                                justify-self: self-start;
                                display: flex;
                                border: 1px #C1803E solid;
                                border-radius: 25px;
                                height: 58px;
                                width: 169px;
                                font-size: 24px;
                                align-items: center;
                                justify-content: center;
                                cursor: pointer;
                                grid-area: 2 / 7 / 3 / 10;
                                cursor: pointer;

                        }

                        
                        .accordion__header-button_close{
                                display: none;

                        }
                        
                        .accordion__content {
                        display: grid;
                        grid-template-columns: repeat(6, 1fr);
                        grid-template-rows: repeat(5, auto);
                        grid-column-gap: 20px;
                        grid-row-gap: 0px;
                        max-height: 0;
                        overflow: hidden;
                        transition: max-height 0.4s ease-out; /* Плавное открытие */
                        }
                        
                        .accordion__item.open .accordion__content {
                                max-height: 908px; /* Здесь установите достаточную высоту для контента */
                        }
                        
                        .accordion__content-title{
                                font-size: 36px;
                                grid-area: 1 / 7 / 2 / 10;
                                max-width: 835px;
                        }
                        .accordion__content-text_first{
                                font-size: 24px;
                                max-width: 835px;
                                grid-area: 2 / 7 / 3 / 10;
                        }
                        .accordion__content-text_second{
                                font-size: 24px;
                                max-width: 835px;
                                grid-area: 2 / 10 / 3 / 13;
                        }
                        .accordion__content-video_title{
                                padding-bottom: 20px;
                                font-size: 48px;
                                grid-area: 3 / 7 / 4 / 10;
                                max-width: 835px;
                        }
                        
                        .accordion__content-video{
                                width: 835px;
                                height: 469px;
                                padding-bottom: 20px;
                                grid-area: 4 / 7 / 5 / 10;
                        }
                        .accordion__content-bottom{
                                grid-area: 5 / 1 / 6 / 13;
                                font-size: 24px;
                                padding-top: 20px;
                        }
                        .accordion__content-bottom_name{
                                display: block;
                                font-size: 48px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 100%; /* 48px */
                                letter-spacing: -1.92px;
                        }


                        
                        .group{
                                display: grid;
                                grid-template-columns: repeat(12, 1fr);
                                grid-template-rows: repeat(3, auto);
                                grid-column-gap: 20px;
                                grid-row-gap: 20px;
                        }
                        .group__title{
                                align-self: self-start;
                                justify-self: self-start;
                                font-size: 48px;
                                font-weight: 400;
                                grid-area: 1 / 1 / 2 / 4;
                                padding-bottom: 30px;
                        }
                        .group__logo{
                                align-self: self-start;
                                justify-self: self-end;
                                font-size: 48px;
                                font-weight: 400;
                                grid-area: 1 / 4 / 2 / 7;
                        }
                        .group__text-first{
                                align-self: self-start;
                                justify-self: self-start;
                                font-size: 24px;
                                font-weight: 400;
                                grid-area: 1 / 7 / 2 / 10;
                                max-width: 835px;
                                max-height: 134px;
                        }
                        .group__text-second{
                                align-self: self-start;
                                justify-self: self-start;
                                font-size: 24px;
                                font-weight: 400;
                                grid-area: 2 / 7 / 3 / 10;
                                max-width: 835px;
                                max-height: 134px;
                        }
                        .group__year{
                                display: block;
                                font-size: 32px;
                                font-weight: 400;
                                align-self: self-start;
                                justify-self: self-end;
                                grid-area: 1 / 10 / 2 / 13;
                        }
                        .group__count{
                                display: none;
                        }
                        .group__link{
                                display: none;
                        }

                        .group__link-social_facebook{
                                grid-area: 1 / 1 / 2 / 3;
                                justify-self: self-start;
                        }

                        .group__link-social_linkedin{
                                justify-self: self-start;
                                grid-area: 1 / 3 / 2 / 5;
                        }

                        .group__link-social_instagram{
                                grid-area: 1 / 9 / 2 / 11;
                                justify-self: self-end;
                        }

                        .group__link-social_telegram{
                                grid-area: 1 / 11 / 2 / 13;
                                justify-self: self-end;
                        }

                        .group__link-social_social{
                                display: block;
                                font-size: 18px;
                                justify-self: center;
                                align-self: self-end;
                                grid-area: 1 / 6 / 2 / 8;
                        }
                        
}